## Functions
1. Reuseablity of code
2. Write once, use many timezzz

In [1]:
a = "sudh"
len(a)             # len is an in-built function

4

In [2]:
l = [2,3,4,5,"sudh",4.67]
len(l)

6

In [3]:
def test():                    # Defining a FUNCTION WITH def keyword & name_of_function
    pass                       # pass keyword to simply pass as of now...maybe comeback later!

In [4]:
def test1():
    print("This is my first fuction in Python")               #..defining a function

In [5]:
test1()                         # Calling a function

This is my first fuction in Python

In [6]:
b = test1()

This is my first fuction in Python

In [7]:
print(b)

None

In [8]:
# how to store outcome of the function in a variable??
b
type(b)                                   # What is NoneType?

NoneType

In [9]:
type(test1())

This is my first fuction in Python

NoneType

In [10]:
type(print("hello"))

hello

NoneType

##### print always returns a NoneType: which cannot be stored in any variable

In [11]:
def test2():
    return 5

In [12]:
test2()

5

In [13]:
d = test2()
d

5

In [14]:
#Example

def test3():
    return 5

In [15]:
def test4():
    print("Hello")       # print returns a NoneType

In [16]:
test3()

5

In [17]:
test4()

Hello

In [18]:
type(test3())

int

In [19]:
type(test4())

Hello

NoneType

In [20]:
# use return rather than print to perform primitive operations!

In [10]:
def test3():
    return "Hello"

In [11]:
type(test3())

str

In [12]:
test3() +"World"      #_NoneType + str -------> ERROR!

'HelloWorld'

In [15]:
def test4():
    print("This is my Print return")

In [16]:
e=test4()

This is my Print return

In [17]:
type(e)

NoneType

In [18]:
def test3():
    return "sudh"

In [19]:
type(test3())

str

In [20]:
a=test3()                                       # Assigning a function to a variable
type(a)

str

In [21]:
test3()+" kumar"

'sudh kumar'

In [22]:
a+ " kumar"

'sudh kumar'

In [23]:
def test5():
    return 1,3,[3,4,5,"sudh"],(3,4,5,6)        #_RETURNS A TUPLE when multiple datatypes are given

In [24]:
test5()

(1, 3, [3, 4, 5, 'sudh'], (3, 4, 5, 6))

In [25]:
type(test5())                             # returns in a tuple   # data integrity maybe...

tuple

In [26]:
test5()[1]                          #_Fetching elements in the tuple using indexing

3

In [27]:
test5()[2]                          #_Fetching elements in the tuple using indexing

[3, 4, 5, 'sudh']

In [28]:
#_Important_STUDY                       # MULTIPLE VARIABLE MAPPING

def test6():
    return 1,3,[3,4,5,"sudh"],(3,4,5,6)

In [29]:
test6()                                   # Returns as tuples when multiple data types are present

(1, 3, [3, 4, 5, 'sudh'], (3, 4, 5, 6))

In [30]:
a,b,c,d= test6()                          #_variable mapping in sequence (...mapped respectively!)

In [31]:
a

1

In [32]:
b

3

In [33]:
c

[3, 4, 5, 'sudh']

In [34]:
d

(3, 4, 5, 6)

In [4]:
def test7():
    a = 4*5+8
    return a

In [5]:
test7()

28

In [6]:
type(test7())

int

In [30]:
#Problem_Data

l=[2,3,4,5,6,7,8,9]

In [31]:
#Problem: Summation of all elements in the list

l=[2,3,4,5,6,7,8,9]

def sum_total():
    a=0
    for i in range(len(l)):
        a=a+l[i]
    return a

In [32]:
sum_total()

44

In [15]:
#Same problem             

a=0
for i in l:
    a=i+a
print(a)

44

In [34]:
def test9():
    l = [2,3,4,5,6,7,8,9,"sudh"]
    a = 0
    for i in l:
        if type(i) == int:
            a = i + a
    return a

In [35]:
test9()

44

In [36]:
l1 = [4,5,6,7,7,8,"kumar",4.56]            # argument

In [37]:
def test10(argument):
    
    a = 0
    for i in l:
        if type(i) == int:
            a = i + a
    return a

In [38]:
test10(l1)

44

In [39]:
def test11(a,b):
    """Helps to add a and b"""          #_'doc string' to write/document about the function 
    return a+b

In [40]:
test11(2,3)

5

In [41]:
test11("Hello","World")

'HelloWorld'

In [1]:
list1 =[3,4,5,6,7,8,"sudh",5,6,7,"kumar","inueron"]

In [2]:
def test12(list1):
    l1 = list()
    for i in list1 :
        if type(i)==str:
            l1.append(i)
            print(l1)       # use RETURN in place of print & the problem reappears--> displays only the first string

In [73]:
test12(list1)             #_WHY IS IT ONLY GIVING THE FIRST STRING when RETURN is being used in place of print??

['sudh']
['sudh', 'kumar']
['sudh', 'kumar', 'inueron']

In [74]:
list2=["sasn","fdas","fwecvfvf"]          

test12(list2)

['sasn']
['sasn', 'fdas']
['sasn', 'fdas', 'fwecvfvf']

In [60]:
test11             #...press shift+tab

#### Assignment:
    1. write a function that finds out length of a string without using an in built len function
    2. write a function which will be able to print the index of 'list' elements
    3. write a function which will be able to print the ip address of your system
    4. write a function which will shutdown your system
    5. write a function which will take input as a list with any kind of numeric value and output is multiplication of the numeric data.
       list = [3.5,6.56,4,5,"sudh","inueron","fsds bootcamp 2.0"]
      
    6. write a function which will be able to read all the mails
    7. write a function which will send mail to anyone
    8. write a function which will be able to read a doc/word file from your system
    
    mail: query@ineuron.ai

### Functions : Class 2 [LIVE CLASS]

In [28]:
#Solutions

# 1. write a function that finds out length of a string without using an in built len function.


def test01(l):
    """this is a function that helps to find the length of a string"""
    count=0
    for i in l:
        #if type(i)==str:               #...commenting it out to use it in the 2nd problem...
            count=count+1
    return count

In [29]:
test01("hello")

5

In [30]:
l= [1,2,3,4,"sudh","inueron"]

In [31]:
# 2. write a function which will be able to print the index of 'list' elements.

def test02(l):
    
    for i in range(0,len(l)):
        print(l[i],":",i)

In [32]:
test02(l)

1 : 0
2 : 1
3 : 2
4 : 3
sudh : 4
inueron : 5

In [33]:
l= [1,2,3,4,"sudh","inueron"]

In [34]:
#_Using my own function:

def test02(l):
    
    for i in range(0,test01(l)):
        print(l[i],":",i)

In [35]:
test02(l)

1 : 0
2 : 1
3 : 2
4 : 3
sudh : 4
inueron : 5

In [37]:
# 3. write a function which will be able to print the ip address of your system.

"""------- To find IP Address, open cmd and type "ipconfig"----------"""

# ----------'socket' library in Python ------------------>>>

'------- To find IP Address, open cmd and type "ipconfig"----------'

In [39]:
import socket

socket.gethostbyname(socket.gethostname())

'192.168.1.6'

In [42]:
# Creating a function.... 

import socket

def test03():
    ip= socket.gethostbyname(socket.gethostname())
    return ip

In [43]:
test03()

'192.168.1.6'

In [ ]:
# 4. write a function which will shutdown your system. [SHANGHATIK!]

import os

os.system("shutdown /s /t 4")

# /s -- shut down
# /r -- restart
# /t -- timer

In [2]:
# 5. write a function which will take input as a list with any kind of numeric value and output is multiplication of the numeric data.
 #   list = [3.5,6.56,4,5,"sudh","inueron","fsds bootcamp 2.0"]

In [5]:
#MySoln:
    
l= [3.5,6.56,4,5,"sudh","inueron","fsds bootcamp 2.0"]  
 
new_list=list()   
def mul_(l):    
    for i in l:
        if type(i)==int or type(i)==float:
            new_list.append(i)
    result=1
    for i in new_list:
        result=result*i
        
    return result

In [6]:
mul_(l)

459.19999999999993

In [10]:
l= [3.5,6.56,4,5,"sudh","inueron","fsds bootcamp 2.0"]

In [15]:
#_Same Solution

def test3(l):
    mul = 1
    for i in l:
        if type(i)==int or type(i)==float:
            mul = mul*i
    return mul

In [16]:
test3(l)

459.19999999999993

In [ ]:
# 6. write a function which will be able to read all the mails

In [18]:
# 7. write a function which will send mail to anyone.

import smtplib,ssl        #_SMTP--> Simple Mail Tranfer Protocol  #_SSL: Secure Sockets Layer

### SUDHANSHU LIVE CLASS: FUNCTIONS 3rd Class

In [1]:
def test():
    a=5+6
    return a

In [2]:
test()

11

In [3]:
def test2(a,b):
    return a+b

In [4]:
test2(10,5)

15

In [5]:
test2(1,2)                     # Reusability of function

3

In [6]:
test2("sudh"," kumar")         # also does string concatenation

'sudh kumar'

In [7]:
test2(b="wdc",a="cdwqac")

'cdwqacwdc'

In [8]:
#_Simple_Explanation

def test3(*args):
    return args

In [9]:
test3(1,2,3,4,"sudh")        # output comes naturally inside a tuple
                             # data type of args is tuple

(1, 2, 3, 4, 'sudh')

In [11]:
type(test3(1,2,3,4,"sudh"))   # arguments in args is stored in tuples

tuple

In [12]:
# When number of data inputs in a function can vary.... (multiple inputs)

# Problem: Create a function to take any number of inputs and output should be in a list.

def test1(*args):                  # * --> any number of inputs
    return list(args)              # simply typecasting tuple into list

In [15]:
test1(1,2,3,0.5,67,"you","new_enitity",88)

[1, 2, 3, 0.5, 67, 'you', 'new_enitity', 88]

In [16]:
test1("sudh", True, 8+7j,34,34.67)

['sudh', True, (8+7j), 34, 34.67]

In [19]:
#_SAME PROBLEM_ DIFF SOLn

def test5(*args):
    l= list()             # creating a new list
    for i in args:        # iterating over 'args' tuple
        l.append(i)       # appending to the new list
    return l              # returning the new list

In [20]:
test5(1,2,3,56.78,"sudh", True, 3.14)

[1, 2, 3, 56.78, 'sudh', True, 3.14]

In [21]:
#  "*" ---> means multiple arguments can be taken in!     "*" ---> is Important NOT args!!

def test6(*sudh):        # args is not a reserved keyword, it is just a standard notation(convention)!
    return list(sudh)

In [22]:
test6(1,2,3.14,"sudh")

[1, 2, 3.14, 'sudh']

## DICTIONARY
1. holds data in {key:value} pairs
2. Value can be duplicate but not the key

In [25]:
# Previous data collections studied:

l=[1,2,3,4]                 # list
t=(4,5,6,7)                 # tuple
s={4,3,7,2,2,2,6,6,7}       # set

In [26]:
s                          # set always holds unique elements

{2, 3, 4, 6, 7}

In [27]:
d={}

In [28]:
type(d)

dict

In [29]:
d1={1,2,3,4,5}

In [30]:
type(d1)

set

In [31]:
d2={"key1": "sudh","key2": [1,2,3,4,5]}            #_holding data in a dictionary

In [33]:
d2                        #_key works like index, value is the value in the index poisition (key)

{'key1': 'sudh', 'key2': [1, 2, 3, 4, 5]}

In [34]:
d3={234234:"sudh"}          # key can be integers but not special case characters...like $,#,@ etc

In [35]:
d3

{234234: 'sudh'}

In [36]:
d4={[1,2,3,4]:123}       # key cannot be a list!

TypeError: unhashable type: 'list'

In [37]:
d5={(2,3,4):123}      # key can be a tuple but NOT a List. Tuples are immutable!

In [38]:
d5

{(2, 3, 4): 123}

In [39]:
d6={"name":"sudhanshu","organization":"inueron","email":"sudh@inueron.ai","name":"sudh"}

In [40]:
d6    # name being the same key(duplicate), the value updates for the latest value of the key!

#But, remember Python is case sensitive! Hence take care!!

{'name': 'sudh', 'organization': 'inueron', 'email': 'sudh@inueron.ai'}

In [42]:
#_Dictionary inside Dictionary

d8 = {"name":"sudh","mentor":{"fsds":"imran","fsda":"anand","bigdata":"shashank"}}

In [43]:
d8

{'name': 'sudh',
 'mentor': {'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'}}

In [44]:
d6

{'name': 'sudh', 'organization': 'inueron', 'email': 'sudh@inueron.ai'}

In [45]:
d6["email"]       # Data Extraction is same like using indexing! Call the key_name!

'sudh@inueron.ai'

In [49]:
d8["mentor"]["bigdata"]           # data extraction from dictionary within a dictionary.

'shashank'

In [50]:
d6.keys()                    # after . press tab to get the list of in-built functions...

dict_keys(['name', 'organization', 'email'])

In [52]:
list(d6.values())                   # returns all the values in a list when we do type conversion

['sudh', 'inueron', 'sudh@inueron.ai']

In [55]:
list(d6.items())        # output comes as a list but the key:value pairs are put in a tuple!

[('name', 'sudh'), ('organization', 'inueron'), ('email', 'sudh@inueron.ai')]

In [56]:
# EXTRACT THE VALUES OF THE DICT WITHIN A DICT

d8

{'name': 'sudh',
 'mentor': {'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'}}

In [58]:
list(d8["mentor"].values())

['imran', 'anand', 'shashank']

In [59]:
l1=list()
for i in d8.keys():
    if type(d8[i])==dict:
        l1.append(list(d8[i].values()))

In [60]:
l1

[['imran', 'anand', 'shashank']]

In [62]:
D9={"name":"sudh","mentor":{"fsds":"imran","fsda":"anand","bigdata":"shashank"},"mailid":{"imran":"imran@inueron.ai","anand":"anand.inueron.ai","shashank":"shashank.inueron.ai"}}

In [63]:
D9

{'name': 'sudh',
 'mentor': {'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'},
 'mailid': {'imran': 'imran@inueron.ai',
  'anand': 'anand.inueron.ai',
  'shashank': 'shashank.inueron.ai'}}

In [66]:
#Problem: For every value that is available as a dictionary, extract all the values in a list.

l2=list()

for i in D9.keys():
    if type(D9[i])==dict:
        l2.append((list(D9[i].values())))

In [67]:
l2                        # returns the list of dictionary values

[['imran', 'anand', 'shashank'],
 ['imran@inueron.ai', 'anand.inueron.ai', 'shashank.inueron.ai']]

In [68]:
# How to convert this as a function??

def test9(d):
    l=list()

    for i in d.keys():
        if type(d[i])==dict:
            l.append((list(d[i].values())))
    
    return l

In [69]:
test9(D9)                                 #...calling the function and passing dict as a parameter

[['imran', 'anand', 'shashank'],
 ['imran@inueron.ai', 'anand.inueron.ai', 'shashank.inueron.ai']]

In [70]:
test9(d8)

[['imran', 'anand', 'shashank']]

In [72]:
# How to create a new key:value pair inside D9???

D9

{'name': 'sudh',
 'mentor': {'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'},
 'mailid': {'imran': 'imran@inueron.ai',
  'anand': 'anand.inueron.ai',
  'shashank': 'shashank.inueron.ai'}}

In [74]:
D9["mobile"]=(2424,34452,4365576)

In [75]:
D9

{'name': 'sudh',
 'mentor': {'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'},
 'mailid': {'imran': 'imran@inueron.ai',
  'anand': 'anand.inueron.ai',
  'shashank': 'shashank.inueron.ai'},
 'mobile': (2424, 34452, 4365576)}

In [76]:
D9["name"]="sudhanshu kumar"          # name getting updated...

In [77]:
D9

{'name': 'sudhanshu kumar',
 'mentor': {'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'},
 'mailid': {'imran': 'imran@inueron.ai',
  'anand': 'anand.inueron.ai',
  'shashank': 'shashank.inueron.ai'},
 'mobile': (2424, 34452, 4365576)}

In [78]:
# Delete name from dictioanry D9...\
del D9["name"]

In [79]:
D9

{'mentor': {'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'},
 'mailid': {'imran': 'imran@inueron.ai',
  'anand': 'anand.inueron.ai',
  'shashank': 'shashank.inueron.ai'},
 'mobile': (2424, 34452, 4365576)}

In [80]:
D9.pop('mentor')

{'fsds': 'imran', 'fsda': 'anand', 'bigdata': 'shashank'}

In [81]:
D9

{'mailid': {'imran': 'imran@inueron.ai',
  'anand': 'anand.inueron.ai',
  'shashank': 'shashank.inueron.ai'},
 'mobile': (2424, 34452, 4365576)}

### ..... GOING BACK TO FUNCTIONS...

In [84]:
# Create a function that will take variable names and values...

def test10(**kwargs):                       # keyword pair arguments--> kwargs
    return kwargs


# '**kwargs' can take any number of key value pairs as input and returns as a dictionary!

In [88]:
 test10(key1=1234,a=7,b=90,sudh="sudhanshu")
    
# returns as key value pair in a dictionary!

{'key1': 1234, 'a': 7, 'b': 90, 'sudh': 'sudhanshu'}

In [89]:
def test11(**sudh):
    return sudh

In [90]:
test11(a=234,b=897,c="like")

{'a': 234, 'b': 897, 'c': 'like'}

### .....FUNCTIONS INSIDE FUNCTIONS....

In [4]:
#Function being passed as an argument inside a function


def test12(a):
    return a
def test13(b):
    return b
def test14(func_name):
    return func_name("sudh")    #_returns the function name alongwith argument "sudh"

In [5]:
test14(test12)

'sudh'

In [6]:
test14(test13)

'sudh'

In [7]:
def test12(a):
    return a
def test13():
    return "sudh"
def test14(func_name):
    return func_name("sudh")

In [8]:
test14(test12)

'sudh'

In [9]:
test14(test13)

TypeError: test13() takes 0 positional arguments but 1 was given

In [10]:
def test12(a):
    return a
def test13(*args):
    return "sudh"
def test14(func_name):
    return func_name("sudh")

In [11]:
test14(test13)

'sudh'

In [16]:
#_Function inside a function

def test15(a):
    print("this is my test 15")
    
    def test16():
        print("This is my test16")
        
    def test17():
        print("This is my test17")
        
    if a=="sudh":
        return test16()
    elif a=="kumar":
        return test17()

In [18]:
test15("sudh")

this is my test 15
This is my test16

In [19]:
test15("kumar")

this is my test 15
This is my test17

In [26]:
#__STUDY__

def test18(func):
    def test19():                      # test19 is going to print and also call the func!
        print("i am inside test19")    # print statement of test19
        func()                         # test19 calling the func which was passed as an argument!
    return test19()                    # final return of test18(func) is it returns test19!

In [27]:
def test13(*args):                     # test13 is being used as the func for test18!
    print("this is return of test13")  # print statement of test13!

In [28]:
test18(test13)                         # now calling test18(func) & it should return test19()

i am inside test19
this is return of test13

In [29]:
# How to call test19???

test19()

NameError: name 'test19' is not defined

In [30]:
test18()

TypeError: test18() missing 1 required positional argument: 'func'

In [32]:
def test18(func):
    def test19():
        print("i am inside test19")
        #func()                           # commenting out the external func() calling....
    return test19()

In [33]:
test18(test13)

i am inside test19

## DECORATOR

In [20]:
def test18(func):      # test18 takes input as a function
    def test19():      # test19 is inside test18
        print("I am inside test19 and this will behave as a decorator to any function")
        func()
    return test19()

In [26]:
def test20():
    return "This is my test20"

In [27]:
 test20()

'This is my test20'

In [28]:
test18(test20)

I am inside test19 and this will behave as a decorator to any function

In [29]:
# How to call a decorator?

@test18
def test20():
    print("this is test20")

I am inside test19 and this will behave as a decorator to any function
this is test20

In [30]:
test20()            #____ ???????

TypeError: 'NoneType' object is not callable

In [32]:
#how to print a directory??

import os

def test18(func):      # test18 takes input as a function
    def test19():      # test19 is inside test18
        print("I am inside test19 and this will behave as a decorator to any function")
        print(os.getcwd())   # PRINTING THE PRESENT DIRECTORY
        func()
    return test19

In [33]:
@test18
def test20():
    print("this is test20")

In [34]:
test20()

I am inside test19 and this will behave as a decorator to any function
C:\Users\santa
this is test20

In [31]:
#_simple present working directory printing...

pwd()

'C:\\Users\\santa'

##__Example 2 of DECORATOR:

In [35]:
def test20(func):
    def test21():
        func()
        print(os.getcwd())
    return test21

In [36]:
def test22():
    print("this is inside test22")

In [37]:
test22()

this is inside test22

In [38]:
#Problem: Whenever you are executing test22() you should also print the current directory!!

#Ans: Simply decorate test22 with a decorator test20!!

@test20
def test22():
    print("this is inside test22")

In [39]:
test22()

this is inside test22
C:\Users\santa

In [40]:
#__Ja Ichha Tai guru... #Decorator [Decorating with multiple functions]

@test18
@test20
def test22():
    print("this is inside test22")

In [41]:
test22()

I am inside test19 and this will behave as a decorator to any function
C:\Users\santa
this is inside test22
C:\Users\santa

In [65]:
#_Problem: What is the execution timing to run a function??

# Write a program to find out the execution time of the function.

import time

start = time.time()          #_START time capture
print("start")

end = time.time()            #_END  time capture
print(end - start)           # Final difference btw end and start = execution time of the program!

start
0.0

In [66]:
time.time()                  # gives the current time

1672922014.8632326

In [67]:
#_Creating a function which will act as a decorator for other functions in the future!

import time

def test25(func):                      #__decorator function
    """This is a decorator function to calculate the runtime/execution time of any function"""
    def test26():
        print("This will give you execution time of a function ")
        start = time.time()
        func()
        print(func())
        end = time.time()
        print(end - start)
    
    return test26

In [68]:
def test27():                           #__creating the func
    l = [4,5,6,7,8,9]
    l1=list()
    for i in l:
        if type(i)==int:
            l1.append(i+2)
        
    return l1

In [69]:
test27()

[6, 7, 8, 9, 10, 11]

In [70]:
# Now using the execution time function as a decorator...

@test25
def test27():
    """This function creates a new list and holds +2 values from the integers in input list"""
    l = [4,5,6,7,8,9]
    l1=list()
    for i in l:
        if type(i)==int:
            l1.append(i+2)
    return l1

In [71]:
test27()

This will give you execution time of a function
[6, 7, 8, 9, 10, 11]
0.0009937286376953125

## Class 4: Functions (Live Batch)

In [75]:
def test1(func):
    def test2():
        print("I am inside test2")
        func()
        print("func executed")
    return test2

In [76]:
def test3():
    return 5+6

In [77]:
test3()

11

In [78]:
test1(test3)

In [81]:
@test1
def test3():
    print("this is my test3")

In [82]:
test3()                   #_test2 dekh tahole chronology bujhbi

I am inside test2
this is my test3
func executed

In [83]:
@test1
def test4():
    return "this is my test4"

In [84]:
test4()                      # no return for test4 but decorator working!

I am inside test2
func executed

In [94]:
#_How to get the return printed??

def test1(func):
    def test2():
        print("I am inside test2")
        func()
        print(func())                       #_new_line_added
        print("func executed")
    return test2

In [95]:
@test1
def test4():
    return "this is my test4"

In [96]:
test4()

I am inside test2
this is my test4
func executed

In [97]:
a = test4()          # storing the return in a variable

I am inside test2
this is my test4
func executed

In [99]:
print(a)             # but not getting output when called through the variable name!

None

In [100]:
test4()+12                     # why is it acting as NoneType???....

I am inside test2
this is my test4
func executed

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

##_Solution to fix this issue!! even "return" is giving a NoneType!! 
         {print to emni e dey!} ekhon 'return' o!!
### _This happens when decorators are being used.

In [101]:
def test5():
    return 4+5

In [102]:
type(test5())

int

In [103]:
test5()+11                      #_ these primitive operations are working for test5..

20

In [104]:
#_problem arises while using a decorator!!

type(test4())

I am inside test2
this is my test4
func executed

NoneType

In [105]:
#how to get the correct datatype??...How to decorate the decorator to give the correct data-type??

def test1(func):
    def test2():                             #_Ans: Add a return for the wrapper function test2!
        print("I am inside test2")
        func()
        print(func())                       #_old_line_added_last_time
        print("func executed")
        
        return func()           #_khela!   #new_line_added!
    
    return test2

In [106]:
@test1
def test4():
    return "this is my test4"

In [108]:
type(test4())                                   #_Problem Solved!

I am inside test2
this is my test4
func executed

str

In [109]:
test4()+"! Let's 'CONCATENATE'"                        #_WORKING....!

I am inside test2
this is my test4
func executed

"this is my test4! Let's 'CONCATENATE'"

In [134]:
#_Another_Example

def test6(func):
    def test7():
        func()
        print(func())                # ---> to print the return of the func after executing it!
        print("this is my decorator function")
        #return func()               # ---> needed to get the correct datatype or else NoneType
    return test7                              #[only while using decorator!]

In [135]:
def test8():
    return 5+7

In [136]:
test8()

12

In [137]:
test8()+12

24

In [138]:
@test6                            #_Same thing with decorator
def test8():
    return 5+7

In [139]:
test8()

12
this is my decorator function

In [140]:
type(test8())                #_return for the wrapper function is hashed out! Hence giving NoneType

12
this is my decorator function

NoneType

In [141]:
#_Add a return to the wrapper function to get the correct datatype instead of NoneType while using decorator!

def test6(func):
    def test7():
        func()
        print(func())                                      # important_1
        print("this is my decorator function")
        return func()                                      # important_2
    return test7

In [142]:
@test6                            
def test8():
    return 5+7

In [143]:
test8()

12
this is my decorator function

12

In [144]:
type(test8())         # datatype 'int'

12
this is my decorator function

int

In [145]:
test8()+100

12
this is my decorator function

112

In [1]:
#_New_Problem: Another situation where the calling func needs 2 arguments

def test6(func):
    def test7():
        func()
        print(func())
        print("func done! Now, it is under decorator function")
        return func()
    return test7

In [2]:
def test8(a,b):                         # NOT USING DECORATOR!
    return a+b

In [4]:
test8()                  # ERROR! ......How to solve?

TypeError: test8() missing 2 required positional arguments: 'a' and 'b'

In [5]:
test8("sudh","kumar")

'sudhkumar'

In [6]:
#_STUDY_:

@test6
def test8(a,b):                         #_USING DECORATOR!
    return a+b

In [8]:
test8()

TypeError: test8() missing 2 required positional arguments: 'a' and 'b'

In [7]:
test8("sudh","kumar")

TypeError: test7() takes 0 positional arguments but 2 were given

In [9]:
#_WHAT TO DO?? 

#Soln: when test8(a,b) has 2 arguments, 'func' in decorator function must also have "func(a,b)""!!

def test6(func):
    def test7(a,b):   # (a,b) doesnt matter. Need not be same but it must mean 2 arguments required!
        func(a,b)     # can be (c,d)! Name doesnt matter. Underlying meaning does!
        print(func(a,b))    # naming of arguments need not match the naming in test8() or calling func
        print("func done! Now, it is under decorator function")
        return func(a,b)
    return test7

In [10]:
@test6
def test8(a,b):                         #_USING DECORATOR!
    return a+b

In [11]:
test8("sudh","kumar")

sudhkumar
func done! Now, it is under decorator function

'sudhkumar'

In [12]:
#_Another problem:

@test6
def test8(a,b,c):                         #_USING DECORATOR!
    return a+b+c

In [13]:
test8("sudh","kumar","jha")     # No. of arguments in base func change hole abar shei ek shomoshha!

TypeError: test7() takes 2 positional arguments but 3 were given

In [23]:
#_These things require some universal solutions....

def test6(func):
    def test7(*args):
        #func(*args)
        #print(func(*args))                       # Hash it in to see the effect in the output
        print("This is my decorator function")
        return func(*args)
    return test7                       # *args all argument requirements in the decorator function!

In [24]:
@test6                           #_then, Any number of parameters in the base func will work!
def test8(a,b,c):
    return a+b+c

In [25]:
test8(10,5,5)

This is my decorator function

20

In [26]:
@test6                               #_When the base func arguments require key:value pairs!
def test9(**kwargs):
    return kwargs

In [28]:
test9(a=89,b=67)                           #_Again failed!

TypeError: test7() got an unexpected keyword argument 'a'

In [29]:
#_Making the decorator function totally universal!!

def test6(func):
    def test7(*args,**kwargs):
        func(*args,**kwargs)
        print(func(*args,**kwargs))
        print("I am inside Decorator function")
        return func(*args,**kwargs)
    return test7

In [31]:
@test6                               
def test9(**kwargs):
    return kwargs

In [32]:
test9(a=89,b=67)

{'a': 89, 'b': 67}
I am inside Decorator function

{'a': 89, 'b': 67}

In [33]:
@test6                           #_then, Any number of parameters in the base func will work!
def test8(a,b,c):
    return a+b+c

In [34]:
test8("sudh","kumar","chandak")

sudhkumarchandak
I am inside Decorator function

'sudhkumarchandak'

It is a Standard Procedure while creating a wrapper function, to use both "*args" and "**kwargs" by default!
Also, use the same while writing a "return".
In general, we are always creating "Global Wrapper Functions".

### ANONYMOUS FUNCTION  /  LAMBDA FUNCTION

Naming the function is not required. Simply, write lambda and a function would be created

In [35]:
def test10(a,b):
    return a+b

In [36]:
test10(3,4)

7

In [37]:
test10("sudh ","kumar")

'sudh kumar'

In [43]:
#_Now using ANONYMOUS FUNCTION:-  
#lambda is the 'reserve keyword'.  <lambda>(a,b)
#lambda means to initialize an anonymous function. Similar to 'def' while initializing a function!
#NO NEED for Names.. just pass the  "ARGUMENTS : COMPUTATION"!!

lambda a,b: a+b

A function kind of an 'object' is created which is taking inputs (a,b)! Match the Out[38] & Out[39]

In [44]:
test10               # Simply calling the name, both are same. Match the out[38] & out[39]

In [47]:
#_How To Use LAMBDA Function?

c = lambda a , b : a + b

In [48]:
c("sudh"," kumar")

'sudh kumar'

In [49]:
d = lambda a,b,c,d : a*b+c/d

In [50]:
d(3,4,5,6)

12.833333333333334

In [51]:
e = lambda *args: args

In [52]:
e()

()

In [53]:
e(3,4,5)

(3, 4, 5)

## map()   function

1. All elements of the iterable object(data) is mapped with the function passed. 
2. map(function_name, data)

In [58]:
l=[1,2,3,4,5,6,7]

l1= list()

def test1():
    """This function creates a list by adding 10 to every element in the input list"""
    for i in l:
        l1.append(i+10)
        #print(l1)          #..ei print ta diley every step a append gulo print hobe, like triangle!
    return l1

In [59]:
test1()

[11, 12, 13, 14, 15, 16, 17]

In [1]:
def test2(a):
    return a+10

In [3]:
#_map

l=[1,2,3,4,5,6,7]   #...data input

map(test2,l)        # Press Ctrl+Tab... map(function name, data)...

In [5]:
list(map(test2,l))            # typecasting the map results into a list to get the output...

[11, 12, 13, 14, 15, 16, 17]

### Instead of writing the external function, we could use lambda function...

In [6]:
list(map(lambda a : a+10 , l))     # study_lambda_(one input:computation,  call data of map function)

[11, 12, 13, 14, 15, 16, 17]

Same outcome in a single line.

In [7]:
#_breaking it down...

n = lambda a:a+10

In [8]:
list(map(n,l))

[11, 12, 13, 14, 15, 16, 17]

In [9]:
# Convert elements of the list into UPPERCASE.

l = ["sudh","kumar","inueron"]

l.uppercase()

AttributeError: 'list' object has no attribute 'uppercase'

In [10]:
#_Soln:1

l1=list()
for i in l:
    l1.append(i.upper())

In [11]:
l1

['SUDH', 'KUMAR', 'INUERON']

In [12]:
#_Soln:2

list(map(lambda a: a.upper(),l))

['SUDH', 'KUMAR', 'INUERON']

In [13]:
#Soln:3  str is a class, str.upper is an in-built function

list(map(str.upper,l))

['SUDH', 'KUMAR', 'INUERON']

In [14]:
#Soln:4

def upper_string(a):
    return a.upper()

In [15]:
list(map(upper_string,l))

['SUDH', 'KUMAR', 'INUERON']

In [25]:
#_Problem: Give a list with length of all the strings...

l

['sudh', 'kumar', 'inueron']

In [26]:
list(map(len,l))

[4, 5, 7]

In [27]:
list(map(lambda a: len(a),l))

[4, 5, 7]

## FILTER FUNCTION

In [28]:
l = [1,2,3,4,5,6,7,8]

In [45]:
#_Problem: Filter out the even numbers from given list.

def filter_even(*args):
    """This function filters out the even numbers and returns output in a new list"""
    l1=list()
    if type(l)==list:
        for i in l:
            if i%2 != 0:
                continue
            else:
                l1.append(i)
    return l1

In [46]:
filter_even(l)

[2, 4, 6, 8]

In [47]:
#_LIST COMPREHENSION

[i for i in l if i%2 == 0]

[2, 4, 6, 8]

In [49]:
#_Using Lambda

a = lambda a : a if a%2 == 0 else None

In [56]:
a

In [57]:
list(map(a,l))                         #_However, answer must be a list of only even numbers!

[None, 2, None, 4, None, 6, None, 8]

Coming back to actual FILTER FUNCTION.... 

### filter(func_name, data)..  #similar to "map"

### FILTER FUNCTION works ONLY on 1 Principle: TRUE OR FALSE (Boolean)

1. if condition is true: returns that element
2. if condition is false: doesnt return

In [58]:
list(filter(a,l))

[2, 4, 6, 8]

In [61]:
#_Ex:

def test25(a):
    if a%2 == 0:
        return True
    else:
        return False

In [62]:
test25(35)

False

In [63]:
test25(36)

True

In [64]:
list(filter(test25,l))

[2, 4, 6, 8]

In [65]:
#_Problem: Summation of all the elements in a list

l

[1, 2, 3, 4, 5, 6, 7, 8]

In [66]:
sum(l)

36

In [67]:
mul(l)                    # Orom kichu hoy na... atleast nijer function toh create kore ne~!

NameError: name 'mul' is not defined

In [72]:
#_Write a function that multiplies the elements in the input list!

def test26(*args):
    "Multiplies the elements in a list"               #Pati jinish pari ni! #Check later
    if type(args) == list:
       
        for i in args:
            mul=1
            mul=mul*i
    return mul

In [73]:
test26(l)

UnboundLocalError: local variable 'mul' referenced before assignment

In [74]:
from functools import reduce

In [76]:
reduce(lambda a,b: a*b,l)             # Shift+Tab __ Read the """docstring"""

40320

In [78]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [79]:
l1 = [3]

In [80]:
reduce(lambda a,b:a*b,l1)

3

In [88]:
# ARROW ->  arrow hints the next programmer on the datatype of inputs for the function/SIGNATURE!

def test26(a: int,b:int) -> int:                      # hinting that input must be integer
    """this is my docstring for hint"""      # check docstring by Shift+Tab
    return a+b

In [89]:
test26(10,20)                                     # Press Shift+Tab

30

In [91]:
test26("sudh","kumar")       

#_Hence, a hint is a hint! An indicative notification! Programmers can use it however they want!

'sudhkumar'

In [95]:
#_DEFAULT VALUE "c"_

def test26(a: int,b:int, c: int=234) -> int:                      # hinting that input must be integer
    """this is my docstring for hint """      # check docstring by Shift+Tab
    return a+b +c

In [93]:
test26(10,20)

264

In [94]:
#_OVER-RIDING THE DEFAULT VALUE

test26(10,20,30)

60

### ....Going Back to Basics: Sudhanshu Py_Basics Recorded Lesson for FUNCTIONS()

In [1]:
def test2():
    return "hi"

In [3]:
type(test2())

str

In [4]:
test2()+"Hello"

'hiHello'

In [5]:
def test3():
    return 324523

In [6]:
test3()

324523

In [7]:
type(test3())

int

In [35]:
#Problem: LIST AS AN INPUT AND LIST AS OUTPUT WITH ONLY INTEGERS

l = [3,4,5,6,7,7,"sudh",[1,3,4,54,56]]

In [41]:
def test4(a):
    n = list()
    if type(a) == list:
        for i in a:
            if type(i) == int:
                n.append(i)
            #elif type(i) == list:
                #for k in i:
                   # if type(k) == int:
                       # n.append(k)
                
    return n

In [42]:
test4(l)

[3, 4, 5, 6, 7, 7]

In [50]:
d1 = {"a":1, "b" :22, "c":42}
type(d)

dict

In [51]:
#Problem: FUNCTION TO RETURN KEYS FROM A DICTIONARY

def test5(d):
    if type(d) == dict:
        return d.keys()
    else:
        return "that's not a dictionary"

In [52]:
test5("giuyg")

"that's not a dictionary"

In [53]:
test5(d1)

dict_keys(['a', 'b', 'c'])

In [69]:
#Problem: INPUT FROM 2 LISTS AND THEN EXTEND INTO SINGLE LIST

def test6(a,b) :
    if type(a) == list and type(b) == list :
        return a.extend(b)
    else :
        return "ENTER 2 LISTS! some are NOT"

In [70]:
a,b =[1,2,3],[4,5,6]

In [71]:
test6(a,b)

In [72]:
a                               # a.extend(b) creates the single list in 'a'

[1, 2, 3, 4, 5, 6]

In [73]:
# So... write it together!          ..........{same problem}

def test6(a,b) :
    if type(a) == list and type(b) == list :
        a.extend(b)
        return a
    else :
        return "ENTER 2 LISTS! some are NOT"

In [74]:
a,b =[1,2,3],[4,5,6]

In [75]:
test6(a,b)

[1, 2, 3, 4, 5, 6]

In [76]:
#Problem: Print a triangle

def test7(n):
    for i in range(0,n):
        for j in range(0,i+1):
            print("*", end="")
        print("\r")

In [78]:
test7(5)

*
**
***
****
*****

In [85]:
#Same Problem:                                   # how to?? __STUDY__

def create_triangle(row_no):
    n = row_no
    k = n - 1
    
    for i in range(0, n):
        
        for j in range(0, k):
            print(end=" ")
            
        k = k - 1
        
        for j in range(0, i+1):
            print("* ", end="")
            
        print("\r")

In [86]:
create_triangle(5)

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#RECREATE THIS EXAMPLE STEP BY STEP...

In [95]:
# ADDING DOC STRING TO A FUNCTION  ------> use triple quotes like multi-line commenting

def create_triangle(row_no):
    """creates a triangle by entering any number of rows in the conditions section
    enter input as an integer & get output as a triangle"""
    n = row_no
    k = n - 1
    
    for i in range(0, n):
        
        for j in range(0, k):
            print(end=" ")
            
        k = k - 1
        
        for j in range(0, i+1):
            print("* ", end="")
            
        print("\r")

#### To view a docstring of a function, PRESS SHIFT + TAB

In [98]:
create_triangle(8)

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *

In [97]:
help(create_triangle)

Help on function create_triangle in module __main__:

create_triangle(row_no)
    creates a triangle by entering any number of rows in the conditions section
    enter input as an integer & get output as a triangle

### PyBasics:Functions--> class 2 [Recorded] [START OF MODULAR CODING]

In [1]:
# 1.Create a func where func takes in multiple inputs

def test_f(a,b,c,d,e):      # if 5 inputs need to be taken (fixed)
    return a,b,c,d,e

In [2]:
test_f(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [8]:
# 2. when number of inputs are variable (any number of inputs/argument)

def test1(*args):            # * --> any number of arguments can be passed
    return args              # args ---> just a standard notation: anything could be used

In [9]:
test1("abc",11,35,98,"sudh")

('abc', 11, 35, 98, 'sudh')

In [11]:
test1((34,35,67),["hello",89], 34+7j)

((34, 35, 67), ['hello', 89], (34+7j))

In [12]:
# 3. taking multiple inputs using *

def test2(*sudh):            # args is not a reserved keyword. We are using "sudh" over here!
    return sudh              # this tries to keep multiple data entries in a bunch and returns a tuple

In [13]:
test2("fsds",4.1243,"pi")   # arguments always returns as tuples

('fsds', 4.1243, 'pi')

In [72]:
# 4. Create a function that takes 2 Lists as an input and concatenates

def sum_c(a,b):
    if type(a) or type(b) != list:
        return "Inputs are not a list"
    else:
        return a + b

In [73]:
sum_c(1,[2,3])

'Inputs are not a list'

In [74]:
sum_c([10,18],[17,47,420])            # check!!

'Inputs are not a list'

In [24]:
#5. Alongwith taking n number of data, also take specific arguments

def test3(*sudh, a):
    return sudh , a

In [26]:
test3(1,2,3, a=4)

((1, 2, 3), 4)

In [27]:
def test4(*san,a,b,c,d):
    return san,a,b,c,d

In [28]:
test4([1,2,3],89,(56,"santa"),a="hi",b="i",c="think",d="it's working!")

(([1, 2, 3], 89, (56, 'santa')), 'hi', 'i', 'think', "it's working!")

In [29]:
def test3(a, *sudh):
    return sudh , a

In [30]:
test3([12,13,"a"],43,56,45,89)          # return:  sudh, a

                               # a is automatically assigned the value for 1st dataset

((43, 56, 45, 89), [12, 13, 'a'])

In [31]:
def test5(a, *sudh, b, c):
    return a, sudh, b, c

In [33]:
test5("fsds",[2,3,4,5], 435,5435,5,b=45,c=656)

('fsds', ([2, 3, 4, 5], 435, 5435, 5), 45, 656)

In [39]:
# 6. user can pass anything as input and the function returns only the list and nothing else!

def test6(*args):
    list1=list()
    for i in args:
        if type(i)==list:
            list1.append(i)
        else:
            continue
    return list1

In [41]:
test6(1,2,3,[3,2,1,"list"])

[[3, 2, 1, 'list']]

In [42]:
test6(45,56,67,76,[23,45,7,89.67])

[[23, 45, 7, 89.67]]

In [40]:
test6(546,[244,4354],[8,9,60])

[[244, 4354], [8, 9, 60]]

In [47]:
# 7. Create a function where system takes n number of data but considers them as key:value pair

def test7(**kwargs):                                # ** --> input in any formation of key value pairs
    return kwargs                                  # kwargs--> standard notation --> "keyword argument",
                                               # but anything could've been used... like as in args

In [49]:
test7(a=345, b=[45,5,54,6,6])         # the arguments needed to be passed in {key:value} pairs

# a and b are taken as keys, and following as values
# returns as a dictionary by default

{'a': 345, 'b': [45, 5, 54, 6, 6]}

In [50]:
def test8(**sudh):              # ** ---> converts entire data input into key:value pairs
    return sudh

In [51]:
test8(b=787,g=235,f=[345,76,78,87,87])

{'b': 787, 'g': 235, 'f': [345, 76, 78, 87, 87]}

In [52]:
#8. Taking user details

def test9(**kwargs):
    return kwargs

In [53]:
test9(name="sudh", age="31", phone_num="987564732",mail="sdfc@abc.com",address="403,7th A Road")

{'name': 'sudh',
 'age': '31',
 'phone_num': '987564732',
 'mail': 'sdfc@abc.com',
 'address': '403,7th A Road'}

In [57]:
def test10(aa,**sudh):
    return aa, sudh

In [58]:
test10(45,a=67,b=78,c=7,d=8,e=78)

(45, {'a': 67, 'b': 78, 'c': 7, 'd': 8, 'e': 78})

In [59]:
def test11(a, **sudh, *args):
    return a,sudh,args                # throws an error

SyntaxError: invalid syntax (27668646.py, line 1)

In [61]:
#9. Taking positional arguments as a specific argument,multiple inputs,multiple key:value pair inputs

def test12(a, *args, **kwargs):          # positioning/placement is important!
    return a, args, kwargs              # first single *, then double **
                                       # * --->multiple data entries, ** ---> key value pair

In [64]:
test12(1,[23,43,56,"hi"],(33,"hello"),Aa=123,b=432,c=765)

(1, ([23, 43, 56, 'hi'], (33, 'hello')), {'Aa': 123, 'b': 432, 'c': 765})

#### LAMBDA FUNCTION: ANONYMOUS FUNCTION

In [66]:
# 10. Creating a function without using a name for the function [Creating an Anonymous function]

# LAMBDA FUNCTION --> Anonymous function without a name!!

# lambda is a reserved keyword for defining a function without name!

lambda a,b : a*b     # inputs are taken as 'a' and 'b' and the output is written after colon, : a*b

In [67]:
# For calling the function, lets save this function in a simple normal variable...suppose 'a'--->

a = lambda a ,b : a*b

In [68]:
a(5,2)                   #... calling the function through the variable 'a'

10

In [69]:
a = lambda a ,b : (a*b , a+b)  # returning multiple outputs simultaneously


#Lambda is used in simple functions but when complex things are to be done, always use 'def' keyword!
# 'def' function is more modular and can handle complexity

In [72]:
a(5,4)                # returns a*b, a+b

(20, 9)

In [74]:
# using * with lambda

a = lambda *a : a            # *a is for multiple input, : a is the return output

In [75]:
a(954,67,"sudh",88)

(954, 67, 'sudh', 88)

In [81]:
x = lambda *i:i**2

In [84]:
x(2,3)     # multiple entries through *i returns data as a tuple. Hence tuple cannot be squared!

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

In [82]:
a= lambda a,b : (a*b,a+b)

In [83]:
a(6,7)

(42, 13)

In [91]:
# Iterating a loop inside a lambda function using list comprehension methodology 

x = lambda x: [i for i in x]   #_square brackets are used to hold the iteration values inside a list

In [92]:
x([5,5,66,6])   #_the arguments are also placed inside a list as there is only one positional argument

[5, 5, 66, 6]

#### Lambda function should only be used while writing a one-liner,else always use 'def' keyword

In [98]:
#_STUDY

l = [4,5,6,7,8]
l1=list()
for i in l:
    l1.append(i*2)

l1

[8, 10, 12, 14, 16]

In [100]:
x = lambda x:[i for i in x]

In [102]:
x(l1)

[8, 10, 12, 14, 16]

In [103]:
a = lambda **kwargs : kwargs

In [104]:
a(a=13, b=33)

{'a': 13, 'b': 33}

In [105]:
type(a)

function

In [107]:
# 11. Taking a variable outside the function (external values)

a=10

def test15(c,d):
    return c*d

In [108]:
test15(a,50)    #'a' is a variable which is present outside the function!!
                # here, 'a'(external value) becomes --> 'c'(inside the function)

500

In [110]:
a=10                # 'a' is a global declaration

def test16(c,d):
    a=5             # this 'a' is not being used inside the function
    return c*d

In [111]:
test16(a,50)

500

In [112]:
c = 10           # The value of 'c' is a global declaration [GLOBAL VARIABLE]

def test16(c,d):
    c = 5          # However, here, the value of 'c' is getting updated when inside the function
    return c*d

In [115]:
test16(c,15)       # c=5, as value of c is updated inside the function as 5 [LOCAL VARIABLE]

75

In [116]:
c           # this value of c is derived from the global declaration = 10

10

### [LIST COMPREHENSION] OPERATIONS (COMPETITIVE CODING)

In [121]:
#Example_Data:

l = [1,2,3,4,56,78,7,88,7]

l1=list()
for i in l: l1.append(i+2)
l1

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [124]:
# Same Problem using functions

def test17(a):
    l1=list()
    for i in a:
        l1.append(i+2)
    return l1

In [125]:
test17(l)

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [126]:
# Same Problem using lambda function

a=lambda a: [i+2 for i in a]

In [127]:
a(l)

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [128]:
# Same Problem using List Comprehension---> [] <--- notation for list comprehension

[i+2 for i in l]

[3, 4, 5, 6, 58, 80, 9, 90, 9]

In [129]:
# getting the return in tuples using List Comprehension technique

[(i,i+2) for i in l]

[(1, 3), (2, 4), (3, 5), (4, 6), (56, 58), (78, 80), (7, 9), (88, 90), (7, 9)]

In [131]:
# Increasing the complexity...

[(i,i+2) for i in l if i <= 4]

[(1, 3), (2, 4), (3, 5), (4, 6)]

In [146]:
#Problem: Create a dictionary where the keys are numbers and values are the square of it!

n = 11

l_keys= list()
l_values= list()
for i in range(1,n):
    l_keys.append(i)
    l_values.append(i**2)

In [147]:
l_keys

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [148]:
l_values

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [149]:
#ALTERNATIVE:

{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [150]:
#_Solution: But Real Method without mind fucks!!

d = dict()

for i in range(1,11):
    d[i] = i**2

In [151]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [153]:
#_TUPLE COMPREHENSION

(i for i in range(10))                    # GENERATOR_OBJECT

In [154]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

## What are Iterators and Generators?