In [1]:
print("This is SPARTA!")

This is SPARTA!

In [5]:
employee_name= 'santa'
employee_name

'santa'

In [10]:
a1=100
str(a1)                 #TYPE_CASTING

'100'

In [14]:
a1=3+5j                      #COMPLEX NUMBER
a1

(3+5j)

In [12]:
type(a1)

complex

In [18]:
a=10                          #arithmatic operators
b=20
a*b

200

In [19]:
a>b                           #relational operators

False

In [26]:
a>b and a<b                    #logical operators

False

In [27]:
s1="my name is JOHN"                #STRINGS PLAYGROUND

In [65]:
s1.find("J")                        #  .find

11

In [66]:
s1[11:15]                           # using index to slice string

'JOHN'

In [67]:
len(s1)                             # length of string

15

In [28]:
s1[-4:]                             # using negative indexing

'JOHN'

In [30]:
s="WHO, CENA??"

In [69]:
s.find("CENA")

7

In [71]:
s[7:11]

'CENA'

In [72]:
len(s)

13

In [33]:
s[-6:-2]

'CENA'

In [53]:
S="YES!! Mah man's name is " +s1[-4:]+" " +s[-6:-2]      # merge after slicing

In [54]:
S

"YES!! Mah man's name is JOHN CENA"

In [55]:
S.upper()

"YES!! MAH MAN'S NAME IS JOHN CENA"

In [56]:
len(S)

33

In [57]:
S.replace('is',"'s").replace("man's","man")              # using ---->   .replace("element" , "new_element")

"YES!! Mah man name 's JOHN CENA"

In [63]:
S.count("a")                                            #   .count( x ) function counts the number of occurance of x

3

In [81]:
a= "apples, ornages, lemons, melon"

In [83]:
a.split(',')                                            # splitting a string---->  .split(criteria)

['apples', ' ornages', ' lemons', ' melon']

In [84]:
# DATA STRUCTURES IN PYTHON-->> TUPLE,LIST,DICTIONARY,SET

In [85]:
    #TUPLE
    
TUP1=(1,"A",True)   #Tuple: elements with heterogenous data types stored in an ordered sequence 
                    # they are immutable; basically variables storing immutable and ordered sequence of heterogenous datatypes
                    #placed inside normal parenthesis

In [87]:
type(TUP1)       #tuple is a datastructure OR DATATYPE

tuple

In [95]:
TUP1[0:2]          # EXTRACTING INDIVIDUAL ELEMENTS IN A TUPLE USING INDEXING
                   # INDEXING works for tuples & lists as they are ordered.

(1, 'A')

In [97]:
len(TUP1)

3

In [98]:
tup1 = (1,2,3)            # CONCATENATING TUPLES ---> merges 2 tuples; attaches 1 tuple at the end of the other tuple 
tup2 = (4,5,6)
tup1+tup2

(1, 2, 3, 4, 5, 6)

In [99]:
len(tup1+tup2)

6

In [100]:
tup3 = ("a",True,3+5j)
tup4 = ("sparta",False,1000)
tup3+tup4

('a', True, (3+5j), 'sparta', False, 1000)

In [101]:
len(tup3+tup4)

6

In [102]:
tup1+tup2+tup3+tup4                   # concatenation of tuples

(1, 2, 3, 4, 5, 6, 'a', True, (3+5j), 'sparta', False, 1000)

In [103]:
len(tup1+tup2+tup3+tup4)

12

In [104]:
tup2+tup4+tup3+tup1      # values are placed according to the placement

(4, 5, 6, 'sparta', False, 1000, 'a', True, (3+5j), 1, 2, 3)

In [105]:
tup1*3                     #Repeating tuple elements
                           # tup1 repeats 3 times,ie.,(*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [106]:
tup1*3+tup2*2            #Repeating + Concatenating
                # tup1 repeats 3 times (*3) + tup2 repeats 2 times (*2)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 5, 6, 4, 5, 6)

In [109]:
tup3+tup4*2

('a', True, (3+5j), 'sparta', False, 1000, 'sparta', False, 1000)

In [2]:
tup1

NameError: name 'tup1' is not defined

In [115]:
max(tup1)             # MAX in Tuple

3

In [1]:
min(tup1)             # MIN in Tuple

NameError: name 'tup1' is not defined

In [119]:
    #LIST
L1 = [2,'SPARTA',2.14,True, 3+5j]           #ORDERED COLLECTION OF ELEMENTS WITHIN [] 
type(L1)                                    #They are MUTABLE ie, their values can be changed as and when needed

list

In [127]:
L1

[2, 'SPARTA', 2.14, True, (3+5j)]

In [128]:
L1[0:5]                               #SAME INDEXING ---> as list is ordered

[2, 'SPARTA', 2.14, True, (3+5j)]

In [129]:
L1[-1]

(3+5j)

In [134]:
l1=[1,"a",2,"b",3,"c"]  
l1

[1, 'a', 2, 'b', 3, 'c']

In [138]:
l1[1]="A" ; l1[3]="B"         # MODIFYING A LIST using INDEXING
l1

[1, 'A', 2, 'B', 3, 'c']

In [141]:
l1.append("Extra")             # APPENDING NEW ELEMENT IN THE LIST

In [142]:
l1

[1, 'A', 2, 'B', 3, 'c', 'Extra']

In [144]:
l1.pop()                       # POPS OUT THE LAST ELEMENT IN THE LIST

'Extra'

In [5]:
l1=[1,"a",2,"b",3,"c"]

In [6]:
l1.append(3+5j)

In [7]:
l1

[1, 'a', 2, 'b', 3, 'c', (3+5j)]

In [9]:
l1.pop()

(3+5j)

In [10]:
l1

[1, 'a', 2, 'b', 3, 'c']

In [11]:
l1[1]="A" ; l1[3]='B'

In [13]:
l1

[1, 'A', 2, 'B', 3, 'c']

In [17]:
    # REVERSING ELEMENTS IN A LIST { .reverse()} 

    l1.reverse()
    l1

['c', 3, 'B', 2, 'A', 1]

In [53]:
    # SORTING A LIST             { .sort()}

l2=["mango","banana","apples"]
l2.sort()
l2

['apples', 'banana', 'mango']

In [41]:
    # INSERTING ELEMENT AT A SPECIFIED INDEX

l1=[1,"a",2,"b","c"]      
l1.insert(4,3)                    # { .insert(index , new_element)}
l1

[1, 'a', 2, 'b', 3, 'c']

In [49]:
l1=[1,"a",2,"b","c"]
l1.insert(5,"SPARTA"); l1.insert(4,3)
l1

[1, 'a', 2, 'b', 3, 'c', 'SPARTA']

In [50]:
l1.pop()                              # POP -->> pops out last from the right

'SPARTA'

In [51]:
l1

[1, 'a', 2, 'b', 3, 'c']

In [52]:
len(l1)

6

[1, 'a', 2, 'b', 3, 'c']

In [64]:
l1.reverse()

In [62]:
l1

['c', 3, 'b', 2, 'a', 1]

In [67]:
l1.reverse()

In [68]:
l1

[1, 'a', 2, 'b', 3, 'c']

In [ ]:
# CONCATENATING & REPEATING ELEMENTS IS SAME FOR LISTS AS WAS FOR TUPLES..{"+" + * "no of times"}

In [71]:
l1=[1,2,3]
l2=[4,5,6]
l1+l2                          #CONCATENATING OF LISTS

[1, 2, 3, 4, 5, 6]

In [72]:
l1*3+l2                        # CONCATENATE + REPEAT   OF LISTS

[1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 5, 6]

In [73]:
l2+l1*3

[4, 5, 6, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [74]:
    # DICTIONARY ---->> UNORDERED COLLECTION OF key-value pairs enclosed with {}; MUTABLE
    
    Fruit={"APPLE":10,"ORANGE":20}          # key=apple; value=10 {key-value pair}
                                            # key=orange; value=20 {key-value pair}

In [75]:
type(Fruit)

dict

In [77]:
Fruit.keys()    # EXTRACTING keys  [ .keys()]

dict_keys(['APPLE', 'ORANGE'])

In [79]:
Fruit.values()     # EXTRACTING values   [ .values()]

dict_values([10, 20])

In [80]:
Fruit.items()           # EXTRACTING THE ENTIRE DICTIONARY

dict_items([('APPLE', 10), ('ORANGE', 20)])

In [87]:
   # MODIFYING A DICTIONARY

Fruit={"APPLE":10,"ORANGE":20}

In [90]:
Fruit

{'APPLE': 10, 'ORANGE': 20}

In [91]:
Fruit['MANGO']=20                 # ADDING A NEW ELEMENT----->>    ['new_element_key'] = values

In [92]:
Fruit

{'APPLE': 10, 'ORANGE': 20, 'MANGO': 20}

In [93]:
Fruit['APPLE']=20                 # CHANGING THE VALUE OF AN EXISTING KEY ---->>    ['element_key']   = new_values

In [94]:
Fruit

{'APPLE': 20, 'ORANGE': 20, 'MANGO': 20}

In [97]:
      # DICTIONARY FUNCTIONS

fruit1={"apple":10,"orange":20}
fruit2={"banana":30,"guava":40}

fruit1.update(fruit2)          # UPDATE: updating/appending fruit1 with fruit2

fruit1

{'apple': 10, 'orange': 20, 'banana': 30, 'guava': 40}

In [98]:
fruit1.pop("orange")           # POP: pop-ing an element fom Dictionary

20

In [99]:
fruit1

{'apple': 10, 'banana': 30, 'guava': 40}

In [101]:
         # SET     ------>> UN-ORDERED & UN-INDEXED collection of elements enclosed within {}
                                    # Duplicates are NOT allowed in Set.

s1={1,"sparta",True}

In [102]:
s1

{1, 'a'}

In [104]:
s1={1,"sparta","sparta"}             # doesnot give duplicates in o/p
s1

{1, 'sparta'}

In [105]:
type(s1)

set

In [111]:
s1.add("hello")          # adding a new element    ---->>   [   .add("new_element")   ] 
s1

{1, 'hello', 'sparta'}

In [113]:
s1.remove("sparta")          # removing an element   ---->>   [  .remove("element") ]

In [114]:
s1

{1, 'hello'}

In [122]:
s1.update([20,30,100,"name"])         # updating multiple elements 
s1                                    # Sets are UNORDERED & UNINDEXED.

{1, 100, 20, 30, 'hello', 'name'}

In [129]:
          # SET FUNCTIONS --->> UNION, INTERSECTION
    
s1={1,2,3}
s2={3,4,5}               

s1.union(s2)                 # UNION    ------>>   [  .union() ]

{1, 2, 3, 4, 5}

In [130]:
s1.intersection(s2)         # INTERSECTION  ----->>   [  .intersection() ]

{3}

In [1]:
         # IF STATEMENT in Python 

a=10
b=20

In [4]:
if a>b:
    print("a is greater then b")                # INDENTATION MATTERS
else:
    print("a is smaller than b")

a is smaller than b

In [5]:
a=10
b=20
c=20

In [6]:
if (a>b & a>c):
    print("a is the largest number")
elif (b>a & b>c):
    print("b is the largest number")
else:
    print("c is the largest number")

c is the largest number

In [12]:
tup1= (1,2,3,4)  
type(tup1)

tuple

In [10]:
if 2 in tup1:                                # using IF in Tuple
    print("2 is present")
else:
    print("no! not present")

2 is present

In [11]:
if 6 in tup1:
    print("yes, 6 is present")
else:
    print("no! 6 is not present")

no! 6 is not present

In [13]:
l1=[1,2,3,4,5]                                         # using IF in list

In [14]:
if l1[1]==2:              
    l1[1]=l1[1]+100                   # adding at the index position 1

In [15]:
l1

[1, 102, 3, 4, 5]

In [16]:
d1 = {'a':1,'b':2,'c':3}          # using IF in Dictionary

In [18]:
if d1["b"]==2:
    d1["b"]=d1["b"]+100         # adding to a particular key-value pair using IF in Dictionary

In [19]:
d1

{'a': 1, 'b': 102, 'c': 3}

In [20]:
if d1["c"]==3:
    d1["c"]=d1["c"]+2

In [21]:
d1

{'a': 1, 'b': 102, 'c': 5}

In [22]:
      # LOOPING STATEMENTS IN PYTHON TO AUTOMATE TASK 

   # WHILE LOOP

In [23]:
i=1      # PRINTING THE FIRST 10 INTEGERS

In [24]:
while i<=10:         # initial value of i=1 (check the above console)
    print(i)
    i=i+1             # i is incremented to i+1; the loop breaks down when i>10

1
2
3
4
5
6
7
8
9
10

In [2]:
# PRINTING THE TABLE OF 2 (..till 2*10)

i=1            #setting value of i=1 which would increment till 10

In [3]:
n=2            #2 is constant in a table of 2 (ie,2*1;2*2;2*3;2*4....,2*10)

In [4]:
while i<=10:
    print(n, " * " , i , " = ",n*i)
    i=i+1

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [11]:
l1 = [1,2,3,4,5]                # WHILE LOOP IN A LIST

In [12]:
i=0

In [13]:
while i<len(l1):
    l1[i]=l1[i]+100
    i=i+1

In [14]:
l1

[101, 102, 103, 104, 105]

In [16]:
   # FOR LOOP   ------->>> used to iterate over a sequence

In [17]:
l1 = ["apple","banana","orange"]

In [18]:
for i in l1:             #once the sequence ends, we come out of the loop! ie, after "orange"
    print(i)

apple
banana
orange

In [20]:
l1 = ["orange","blue","green"]            
l2 = ["book","chair","phone"]

In [22]:
for i in l1:
    for j in l2:                   # agey inner loop chole; tarpor outer loop
        print(i,j)        # agey book,chair,phone chollo orange rekhe, tarpor bairer colours r loop ta chollo

orange book
orange chair
orange phone
blue book
blue chair
blue phone
green book
green chair
green phone

In [ ]:
# BASIC PROBLEMS (mygreatlearning_freecourse)

In [23]:
# 1. CHECK EVEN NUMBER

In [25]:
num=int(input("Enter a number:  "))
if (num % 2)==0:
    print(num," is even")
else:
    print(num," is odd")

Enter a number:  15
15  is odd

In [ ]:
# 2. CHECK NUMBER IS +VE,-VE OR 0

In [4]:
num=float(input("Enter a number: "))
if num>0:
    print(num," is positive")
elif num==0:
    print(num," is equal to 0")
else:
    print(num," is negative")

Enter a number: 0.000001
1e-06  is positive

In [5]:
# 3. FACTORIAL OF A NUMBER

In [8]:
num=int(input("Enter a number= "))
                                       
factorial=1
if num < 0:                            # check number is +ve , -ve or 0 before calculating      
    print("No Factorial for negative number")
elif num==0:
    print("The Factorial of 0 is 1")
else:
    for i in range(1,num +1):          # Range 1 to 6 nitey hobe jodi 5 obdhi jetey hoy; hence (1,num+1) 
        factorial = factorial*i        # initial value of factorial taken as 1.
    print("The Factorial of",num,"is", factorial)     #i=1--> factorial= f*i = 1*1
                                                      #i=2--> factorial= f*i = 1*1*i = 2
                                                      #i=3--> factorial= f*i = 1*1*2*3
                                                      #i=4--> factorial= f*i = 1*1*2*3*4
                                                      #i=5--> factorial= f*i = 1*1*2*3*4*5    
  #num=5      #range(1,num+1)-->(initial,Final)       #i=6--> loop breaks as out of range!! Range doesnt include margins on greater side.
  #Range(1,(5+1=)6)=1,2,3,4,5 {doesnot include margins on greater side, ie.6}    
# for i in range(1,num+1) = i=[1,2,3,4,5]    {i--> 5 times ghorate hole, range, +1=6 nitey hobe}

Enter a number= 5
The Factorial of 5 is 120

In [1]:
# solve basic problems of python: section 1 last r dikey

In [ ]:
#------------- OBJECT ORIENTED PROGRAMMING -----------

# OBJECT IS AN INSTANCE OF CLASS.

# CLASS HAS -------> (PROPERTIES) + (BEHAVIOUR) ==> OBJECT IS A SPECIFIC INSTANCE OF CLASS.
# Ex:-  PHONE IS A CLASS AND MOTOG52 IS A OBJECT
# CLASS is a USER DEFINED data-type

In [ ]:
# ATTRIBUTES & METHOD associated with a Class 

# Every class has an ---> Attribute (Properties) and Method (Behaviour)
# Attributes are the user defined datatypes 
# Methods are how we invoke the functions of the class

In [15]:
# CREATING A CLASS:

class Phone:                              # defining a class : Phone (1st letter of the name needs to be capitalized)
    
                                          # "self"  is a referencing call/or keyword and actually it is THE FIRST parameter for defining a method
    def make_call(self):                  # defining a method: make_call
        print("Making Phone Call...")     # creating the function for the method: make_call
        
    def play_games(self):                 # defining another method: play_games
        print("Playing game...")          # creating the function for the method: play_games

In [16]:
motoG52 = Phone()                         # Instantiating an object: motoG52

In [17]:
motoG52.make_call()                       # calling methods through the object created
                                          # invoking method/function through object

Making Phone Call...

In [18]:
motoG52.play_games()                      # invoking method through object using dot operator

Playing game...

In [20]:
#---- ADDING A PARAMETER TO A CLASS-----

class Phone:
    
 # SETTING ATTRIBUTE VALUES 

    def set_colour(self,colour):
        self.colour = colour
        
    def set_cost(self,cost):
        self.cost=cost

 # RETURNING ATTRIBUTE VALUES

    def show_colour(self):
        return self.colour
    
    def show_cost(self):
        return self.cost
    
 # PREVIOUS METHODS

    def make_call(self):                  # defining a method: make_call
        print("Making Phone Call...")     # creating the function for the method: make_call
        
    def play_games(self):                 # defining another method: play_games
        print("Playing game...") 
        
    # DEFINING METHODS AND FUNCTIONS AND ASSIGNING PARAMETERS IS DONE!
    # NOW, HOW TO CALL OR INVOKE ???

In [21]:
motoG52 = Phone()                         # CREATING AN OBJECT IN THE CLASS: PHONE

In [22]:
motoG52.set_colour('blue')                # giving the input parameters for the object

motoG52.set_cost(15000)

In [23]:
motoG52.show_colour()                    # output

'blue'

In [24]:
motoG52.show_cost()                      # output

15000

In [25]:
motoG52.make_call()                      # output

Making Phone Call...

In [26]:
motoG52.play_games()                     # output

Playing game...

In [30]:
#--------- CREATING A CONSTRUCTOR WITHIN A CLASS ------------  

# constructor is a special type of function with which we can assign values to all the attributes while creating an object.
# while creating an object, all attributes of the class will be initialized by the constructor inside the class.

# constructor is named by default in Python: __init__ method

class Employee:
    
    def __init__(self,name,age,salary,gender):
        
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
        
        
    def employee_details(self):
        print("Name of employee is ",self.name)
        print("Age of employee is ",self.age)
        print("Salary of employee is ",self.salary)
        print("Gender of employee is ",self.gender)
        
  
   # everything created and set                                              ...[saved] 
                                                                    # now how to run??

In [33]:
# To run, instantiate an object --------> e1 in class Employee

e1 = Employee('santa',28,20000,'Male')            # directly assigning values to attributes while creating the object 
                                                  # CONSTRUCTOR @ WORK

# Invoking the 'employee_details' method 

e1.employee_details()

Name of employee is  santa
Age of employee is  28
Salary of employee is  20000
Gender of employee is  Male

In [62]:
# -------------- INHERITANCE IN PYTHON ---------------------->  "One Class can derive the properties of another Class"
                                                                   # Ex. : Man inheriting features from his father!!

# CREATING A BASE CLASS OR PARENT CLASS: 

class Vehicle:
    
    def __init__(self, name, mileage,cost):
        
        self.name = name
        self.mileage = mileage
        self.cost = cost
        
        
    def show_details(self):
        print("Name of Vehicle: ",self.name)
        print("Mileage of Vehicle: ",self.mileage)
        print("COst of Vehicle: ",self.cost)

In [63]:
# Instantiating the OBJECT: v1 in class Vehicle

v1 = Vehicle("TATA NANO", 50, 80000)
v1.show_details()

Name of Vehicle:  TATA NANO
Mileage of Vehicle:  50
COst of Vehicle:  80000

In [89]:
# CREATING A SUB-CLASS FOR INHERIENCE OR CHILD-CLASS : 

class Car(Vehicle):
    def show_car(self):                                  #........ unique method of child class
        print("I am a Sedan")                            #.........child class created with its own function
        
        
c1 = Car("Honda City",30,300000)                         # Instantiating the Object for child class



c1.show_details()                                         #..........inheritance from parent class

Name of Vehicle:  Honda City
Mileage of Vehicle:  30
COst of Vehicle:  300000

In [90]:
c1.show_car()                                               #.......... own attribute of child class

I am a Sedan

In [92]:
# SUMMARY

class Vehicle:
    
    def __init__(self, name, mileage,cost):
        
        self.name = name
        self.mileage = mileage
        self.cost = cost
        
        
    def show_details(self):
        print("Name of Vehicle: ",self.name)
        print("Mileage of Vehicle: ",self.mileage)
        print("COst of Vehicle: ",self.cost)
        

v1 = Vehicle("TATA NANO", 50, 80000)
v1.show_details()



class Car(Vehicle):
    def show_car(self):                               
        print("I am a Sedan")                           
        
        
c1 = Car("Honda City",30,300000)                       


c1.show_car() 
c1.show_details()

Name of Vehicle:  TATA NANO
Mileage of Vehicle:  50
COst of Vehicle:  80000
I am a Sedan
Name of Vehicle:  Honda City
Mileage of Vehicle:  30
COst of Vehicle:  300000

In [ ]:
#---- OVER-RIDING __init__ METHOD ----------