In [62]:
print("Hello Neurons")

Hello Neurons

In [63]:
print("Good evening neurons")      # ctrl + left_click for writing multiple lines simultaneously
print("Good evening neurons")
print("Good evening neurons")
print("Good evening neurons")

Good evening neurons
Good evening neurons
Good evening neurons
Good evening neurons

In [9]:
print("""I               # triple quotes for multi-line comments
AM
A
BOSS""")

I               # triple quotes for multi-line comments
AM
A
BOSS

In [1]:
print(""" SAY HI
TO THE
STUDENTS
OF iNeuron """)

 SAY HI
TO THE
STUDENTS
OF iNeuron

Header = Markdown

 FORMATTED STRING (F-String) METHOD TO CONCATENATE STRINGS
 
 1. F STRING to Auto-Fill  
 2. Fill in the blanks with {curly braces}

In [13]:
lang = " Java "
print(f"I know {lang} language")               # f string holder to concatenate

I know  Java  language

In [12]:
food1 = "biriyani"
food2 = "mutton"

print(f"I am NOT ALLOWED TO HAVE {food2} {food1}!")

I am NOT ALLOWED TO HAVE mutton biriyani!

DOUBLE QUOTES WITHIN DOUBLE QUOTES

In [2]:
print("Hi! My name is \"SANTA\"")              # double quotes within double quotes with \"abc\"

Hi! My name is "SANTA"

In [16]:
""" \ """                                     # Magic ----> Kalmah

' \\ '

In [5]:
s= "SANTA"                                     # Multiplying a string
s*3

'SANTASANTASANTA'

In [6]:
__num=10

HIDDEN VARIABLES
1. HIDDEN VARIABLE STARTS WITH  __VARNAME.
2. HIDDEN VARIABLE IS NOT MEANT TO BE USED BY THE USER.
   Ex: MOVEMENTS IN A GAME! HIDDEN Variable underneath the CONTROLLER FUNCTIONS. 
3. HIDDEN VARIABLES ARE PART OF THE APPLICATION BUT NOT USED BY THE USER THEMSELVES.

In [7]:
_=10    # DUMMY VARIABLE (just keep it inside a _)

 FUNDAMENTAL DATA-TYPES               # check with:   type(var_name)
 1. int
 2. float
 3. complex number
 4. str
 5. bool

DYNAMIC TYPING IN PYTHON (Data-type is self recognised by Python)

In [8]:
a = 22
type(a)

int

In [11]:
a = 22
type(a)
a = 22.2
type(a)

float

RESERVED WORDS IN PYTHON

THEY ARE SOME IN-BUILT FUNCTIONS INSIDE PYTHON
Ex: print
DONT USE THEM AS A VARIABLE NAME or ordinary indentifiers
PYTHON DOESNOT RESTRICT USER TO USE THEM but using them MESSES UP THE GAME

In [17]:
print("Hi There")

Hi There

In [23]:
print = "Hi There"      # using reserved word print as a variable name
                        # Python didnt restrict the usage

In [24]:
print("Hi There")        # Messed up the actual function of the print keyword

TypeError: 'str' object is not callable

In [25]:
# How to recover from this fuck up? 

del print     # using delete method in Python to delete the variable print

In [26]:
print("Hi There")        # normalcy restored !!

Hi There

MULTI-ASSIGNMENT OF VARIABLES

In [27]:
A, B , C = 10, 20 , "HUNDRED"

In [29]:
type(A)

int

In [30]:
type(B)

int

In [31]:
type(C)

str

In [32]:
print(type(A))
print(type(B))
print(type(C))

<class 'int'>
<class 'int'>
<class 'str'>

TAKING A USER INPUT 

1. keyword is "input"

In [7]:
name1 = input("ENTER YOUR NAME:  ")
print()

ENTER YOUR NAME:  Santa

In [8]:
name1 = input("ENTER YOUR NAME:  ")
print(f"YOU HAVE ENTERED YOUR NAME AS {name1} ")

ENTER YOUR NAME:  Santa
YOU HAVE ENTERED YOUR NAME AS Santa

In [9]:
A = input("Enter Value for A:  ")
B = input("Enter Value for B:  ")

print(f"SUM OF A and B = {A + B}")

Enter Value for A:  100
Enter Value for B:  200
SUM OF A and B = 100200

TIME FOR TYPE-CASTING or TYPE CONVERSION !!!

In [10]:
A = int(input("Enter Value for A:  "))
B = int(input("Enter Value for B:  "))

print(f"SUM OF A and B = {A + B}")

Enter Value for A:  100
Enter Value for B:  200
SUM OF A and B = 300

In [11]:
#MULTI-ASSIGNMENT

first_name, last_name = "santa" , "B"
print(f"E-mail id: {first_name}.{last_name}@gmail.com")

E-mail id: santa.B@gmail.com

AUTOMATING e-mail_id GENERATION BY TAKING USER INPUT

In [1]:
first_name = input("Enter your First Name: ")
last_name = input("Enter your Last Name: ")

Enter your First Name: Santa
Enter your Last Name: b

In [2]:
Email_id = (f"{first_name}.{last_name}@gmail.com")
print(Email_id)

Santa.b@gmail.com

In [1]:
# e-mail_id generator

first_name = input("Enter your First Name: ")
last_name = input("Enter your Last Name: ")

Email_id = (f"{first_name}.{last_name}@gmail.com")
print(Email_id)

Enter your First Name: piyali
Enter your Last Name: bhattacharya
piyali.bhattacharya@gmail.com

In [13]:
# EXAMPLE_2 of MULTI-ASSIGNMENT

date, name, place, year_of_birth, new_city = "17-10-2022","Santa","Kolkata","1994","Bengaluru"

print(f"""Date: {date}

My name is {name}
I live in {place}
I have lived here all my life, since {year_of_birth}
Now I plan to move to another city, {new_city}""" )

Date: 17-10-2022

My name is Santa
I live in Kolkata
I have lived here all my life, since 1994
Now I plan to move to another city, Bengaluru

In [14]:
# Taking User Input for making the same notepad scratch

date = input("Enter today's date: ") 
name = input("Enter your Name: ")
place = input("Enter your location: ")
year_of_birth = input("Enter your Y.O.B: ")
new_city = input("Enter Destined City Name: ")


print(f"""Date: {date}

My name is {name}
I live in {place}
I have lived here all my life, since {year_of_birth}
Now I plan to move to another city, {new_city}""" )

Enter today's date: 17-10-2022
Enter your Name: Santa
Enter your location: Kolkata
Enter your Y.O.B: 1994
Enter Destined City Name: Bengaluru
Date: 17-10-2022

My name is Santa
I live in Kolkata
I have lived here all my life, since 1994
Now I plan to move to another city, Bengaluru

### IF-ELSE STATEMENTS

In [15]:
raining = True

if raining:
    print("Since its raining, lets WFH")
else:
    print("Since its not raining, lets go to office!")

Since its raining, lets WFH

In [29]:
# Using User Input                                                   # CODE NOT RUNNING #CHECK_LATER

rain = bool(input("Is it raining outside: Answer only in [True/False] :  "))

if rain = True:
    print("Since its raining, lets WFH")
else:
    print("Since its not raining, lets go to office!")

SyntaxError: invalid syntax (3875498729.py, line 5)

In [27]:
# Ex-1

class_started = False

if not class_started:
    print("Revise...")
else:
    print("Let's concentrate...")

Revise...

In [25]:
class_started = True

if not class_started:
    print("Revise...")
else:
    print("Let's concentrate...")

Let's concentrate...

In [31]:
class_started = bool(input("Hey! Has the class started? [True/False]:   "))   ## RECHECK
                                                                               # CODE NOT RUNNING
class_started = True

if not class_started:
    print("Revise...")
else:
    print("Let's concentrate...")

Hey! Has the class started? [True/False]:   False
Let's concentrate...

### CONDITIONAL STATEMENTS

In [37]:
# AND
# Problem: If sports and music are both liked by you, you are of my kind.


#Case1

Music = True
Sports = True

if Sports and Music:
    print("You are of my kind")
else:
    print("Lemme head home...")
    print(f"because for you, music = {Music}")
    print(f"and sports = {Sports}")

You are of my kind

In [38]:
#Case2:

Music = True
Sports = False

if Sports and Music:
    print("You are of my kind")
else:
    print("Lemme head home...")
    print(f"because for you, music = {Music}")
    print(f"and sports = {Sports}")
    print("AND I love BOTH!")

Lemme head home...
because for you, music = True
and sports = False
AND I love BOTH!

In [39]:
#Case3:

Music = False
Sports = False

if Sports and Music:
    print("You are of my kind")
else:
    print("Lemme head home...")
    print(f"because for you, music = {Music}")
    print(f"and sports = {Sports}")
    print("AND I love BOTH!")

Lemme head home...
because for you, music = False
and sports = False
AND I love BOTH!

In [40]:
# OR
# Problem: My friend must either love music or sports atleast

#Case1

Music = True
Sports = False

if Music or Sports:
    print(f"You are my friend coz' Sports is {Sports} and Music is {Music}")
else:
    print(f"We cant be friends coz' sports is {Sports} and Music is {Music}")

You are my friend coz' Sports is False and Music is True

In [41]:
#Case2

Music = True
Sports = True

if Music or Sports:
    print(f"You are my friend coz' Sports is {Sports} and Music is {Music}")
else:
    print(f"We cant be friends coz' sports is {Sports} and Music is {Music}")

You are my friend coz' Sports is True and Music is True

In [42]:
#Case3

Music = False
Sports = False

if Music or Sports:
    print(f"You are my friend coz' Sports is {Sports} and Music is {Music}")
else:
    print(f"We cant be friends coz' sports is {Sports} and Music is {Music}")

We cant be friends coz' sports is False and Music is False

In [47]:
# Problem: Exam eligibility checker --> min attendance 75% OR assignment_submission 70%

# Taking User Input {input is taken as a string always; so need to change datatypes for computing}

#Case1

attendance = int(input("what is the attendance % ?  "))
assignment = int(input("what % of assignments are finished?  "))

if attendance >= 75 or assignment >=70 :
    print(f"Eligible for exam as attendance is {attendance},assignment completion {assignment}% done")
else :
    print(f"NOT ELIGIBLE as attendance is {attendance}%, assignment completion {assignment}% done ")

what is the attendance % ?  50
what % of assignments are finished?  80
Eligible for exam as attendance is 50,assignment completion 80% done

In [48]:
#Case2

attendance = int(input("what is the attendance % ?  "))
assignment = int(input("what % of assignments are finished?  "))

if attendance >= 75 or assignment >=70 :
    print(f"Eligible for exam as attendance is {attendance},assignment completion {assignment}% done")
else :
    print(f"NOT ELIGIBLE as attendance is {attendance}%, assignment completion {assignment}% done ")

what is the attendance % ?  60
what % of assignments are finished?  40
NOT ELIGIBLE as attendance is 60%, assignment completion 40% done

"""---- EQUALITY OPERATORS -----

1. is   | a is b ----> true if a = b and points at the same object(memory location)

2. is not | a is not b ----> true if a is not equal to b {= is assignment operator(memory location)}

3. ==  | a == b ----> a is equal to b      (== is equality operator)

4. !=  | a != b ----> a is not equal to b    {== is comparison operator(only values)}   
"""

In [52]:
#Case1

a = int(input("Enter value of a: "))
b = int(input("Enter value of b: "))

a is b

Enter value of a: 10
Enter value of b: 10

True

In [53]:
#Case2

a = int(input("Enter value of a: "))
b = int(input("Enter value of b: "))

a is not b

Enter value of a: 10
Enter value of b: 20

True

In [55]:
#Log In Checker (Case Sensitive)

name = input("Enter your name: ")

if name == "Santa":
    print(f"{name}! You are the admin!")
else:
    print(f"FUcK OFF {name}! Who are you??")

Enter your name: Santa
Santa! You are the admin!

In [56]:
name = input("Enter your name: ")           # input is taken in as a string (always!)
                                 #Hence while using equality operator on strings, convert accordingly!
if name == "Santa":                           # "Santa" <----- inside quotes to denote string
    print(f"{name}! You are the admin!")
else:
    print(f"FUcK OFF {name}! Who are you??")

Enter your name: Aryan
FUcK OFF Aryan! Who are you??

In [57]:
# 1. is   | a is b ----> true if a = b and points at the same object(memory location)

A = 1
B = 1

if A is B:
    print("A and B are same")
else:
    print("A and B are NOT same")

A and B are same

In [58]:
id(A) , id(B)           # Python saves them in the same memory location to optimize memory allocation
                                 # id -----> to find memory location

(2434975164720, 2434975164720)

In [59]:
# 3. ==  | a == b ----> a is equal to b      (== is equality operator)

A = ["santa", "banta"]     # List in Python; Array in other languages
B = ["santa", "banta"]

A == B

True

In [60]:
id(A) , id(B)             # DIFFERENT MEMORY LOCATIONS FOR AN ARRAY/LIST as list is mutable

(2435102190976, 2435102538432)

MATHEMATICAL OPERATORS

1. +   Addition
2. -   Subtraction
3. *   Multiplication
4. /   Normal Division (Answer in float)
5. //  Integer division (Answer is the quotient (in integer))
6. %   Modulo (Answer is the remainder)

In [68]:
#Example:

var1 = 25
var2 = 10

In [65]:
var1/var2          # True division (answer in float)

2.5

In [66]:
var1//var2         # Integer division (answer is the quotient,ie, only integer)

2

In [67]:
var1 % var2        # Modulo operator (answer is the remainder after division)

5

In [5]:
# CHECK ODD/EVEN NUMBER using Modulo operator 

A = int(input("Enter the number to check odd/even: "))

if A % 2 == 0:
    print(f"{A} is even")
else:
    print(f"{A} is odd")

Enter the number to check odd/even: 29
29 is odd

In [73]:
# SQUARE_ROOT OF A

A = 64
int(A**(1/2))        # type conversion to 'int', else answer comes in float!

8

### STRING METHODS

1. String Indexing
2. String Slicing 
3. String Skipping
4. String Reversal
5. String Replace Method
6. Length of String

In [75]:
name = "SANTA"             # string indexing starts at 0
name[0]

'S'

In [76]:
name[-1]                   # string indexing from reverse direction

'A'

In [82]:
name[::]                   # indexing the entire string ; step size = 1 (default)

'SANTA'

In [78]:
name[::2]                  # starting_point : ending_point : step_size

'SNA'

In [79]:
name[0:4:2]        # indexing doesnot take into account the last index. So go with +1 (=len of string)

'SN'

In [80]:
name[0:5:2]            # revised ending_point ( last_index +1 = len of str); step size = 2

'SNA'

In [84]:
# STRING _ SLICING

name = "SANTASISH"
name[0:9:3]

'STI'

In [88]:
# Use_Cases of STRING SLICING  

# Ex1: date = "17-10-2022"

date = "17-10-2022"
day = date[0:2]
print(f"day = {day}")

month = date[3:5]
print(f"month = {month}")

year = date[6:]
print(f"year = {year}")

day = 17
month = 10
year = 2022

In [91]:
# Ex2: Slicing D.O.B by taking user input

dob = input(" Enter D.O.B [format: dd-mm-yyyy] ")

day = dob[0:2]
print(f"birth_day = {day}")

month = dob[3:5]
print(f"birth_month = {month}")

year = dob[6:]
print(f"birth_year = {year}")

 Enter D.O.B [format: dd-mm-yyyy] 02-02-1994
birth_day = 02
birth_month = 02
birth_year = 1994

In [3]:
# Example with more user input

name = input(" Enter Your Name ")
dob = input(" Enter D.O.B [format: dd-mmm-yyyy] ")

day = dob[0:2]
print(f"birth_day = {day}")

month = dob[3:6]
print(f"birth_month = {month}")

year = dob[7:]
print(f"birth_year = {year}")

print(f"{name} was born on {day}th Day of Month {month} in the year {year}")

 Enter Your Name Piyali
 Enter D.O.B [format: dd-mmm-yyyy] 12-Feb-1966
birth_day = 12
birth_month = Feb
birth_year = 1966
Piyali was born on 12th Day of Month Feb in the year 1966

In [19]:
# Using SPLIT method to solve the same problem [Better Alternative]

name = input(" Enter Your Name ")
dob = input(" Enter D.O.B [format: dd-mmm-yyyy] ")

day, month, year = dob.split("-")    
# split method returns the splitted output in a List which can be accessed individually using Indexing

print(f"{name} was born on {day}th Day of Month {month} in the year {year}")

 Enter Your Name Piyali
 Enter D.O.B [format: dd-mmm-yyyy] 12-Feb-1966
Piyali was born on 12th Day of Month Feb in the year 1966

In [95]:
# Reversal of a String

name = "SANTA"
name[::-1]

'ATNAS'

In [29]:
# Reverse using "reversed" method             #INCOMPLETE_CELL     #Teacher_Ran_Away

name = "SANTA"
reversed(name)                          # reversed at a point, but ...

In [31]:
# To get the output in proper form, use join method

name = "SANTA"
"".join(reversed(name))

'ATNAS'

In [97]:
# Reversal with user input

data = input("ENTER A STRING SEQUENCE : ")
reverse = data[::-1]

print(data, reverse)

ENTER A STRING SEQUENCE : SANTA
SANTA ATNAS

In [100]:
# Palindrome sequence / Reversal 

#Ex1: MALAYALAM

data = input("ENTER A STRING SEQUENCE : ")
reverse = data[::-1]

print(data, reverse)

if data == reverse :
    print(f"STRING SEQUENCE {data} is a PALINDROME")
else:
    print(f"STRING SEQUENCE {data} is NOT A PALINDROME")

ENTER A STRING SEQUENCE : MALAYALAM
MALAYALAM MALAYALAM
STRING SEQUENCE MALAYALAM is a PALINDROME

In [103]:
# Ex2: taking random user input

data = input("ENTER A STRING SEQUENCE : ")
reverse = data[::-1]

print(data, reverse)

if data == reverse :
    print(f"STRING SEQUENCE {data} is a PALINDROME")
else:
    print(f"STRING SEQUENCE {data} is NOT A PALINDROME")

ENTER A STRING SEQUENCE : SATAN
SATAN NATAS
STRING SEQUENCE SATAN is NOT A PALINDROME

In [4]:
# STRING is IMMUTABLE. HOWEVER,

# ALTERNATIVE_1: String mutability using string slicing and concatenation

name = "SANTA"
NAME = name[0:2]+name[3:]+"N"

print(NAME)

SATAN

In [9]:
# ALTERNATIVE_2: Using string method .replace

name = "SATAN"
re_name = name.replace("SATAN","SANTA")

print(name , re_name)

SATAN SANTA

In [10]:
# LENGTH OF STRING 
len(name)

5

In [17]:
# Short Examples of string methods

name = "santal"
name1=name.replace("l","")

print(name, len(name))
print(name1, len(name1))

santal 6
santa 5

In [22]:
name = input("Enter your name: ")

print(f"Name in upper case: {name.upper()}")
print(f"Name in lower case: {name.lower()}")
print(f"Name in title case: {name.title()}")                 
print(f"Name in capitalize case: {name.capitalize()}")  
print(f"Name in swap case: {name.swapcase()}")

Enter your name: SaNtAsiSH
Name in upper case: SANTASISH
Name in lower case: santasish
Name in title case: Santasish
Name in capitalize case: Santasish
Name in swap case: sAnTaSIsh

In [24]:
# Is title and capitalize same?

name = "today Is tHE bEST DAy eVEr"

print(f"upper case: {name.upper()}")
print(f"lower case: {name.lower()}")
print(f"title case: {name.title()}")                 
print(f"capitalize case: {name.capitalize()}")  
print(f"swap case: {name.swapcase()}")

# STUDY THE DIFFERENCE!

upper case: TODAY IS THE BEST DAY EVER
lower case: today is the best day ever
title case: Today Is The Best Day Ever
capitalize case: Today is the best day ever
swap case: TODAY iS The Best daY EveR

In [37]:
name = input("Enter your name: ")

print(f"user input: {name}")

if name.istitle():
    print(f"user has given input in correct format")
else:
    print(f"Wrong format! Needs Auto-correct!")
    name = name.title()
    print(f"Correct Format: {name}")

Enter your name: sANtasIsh bHAttAcharYa
user input: sANtasIsh bHAttAcharYa
Wrong format! Needs Auto-correct!
Correct Format: Santasish Bhattacharya

In [33]:
# REMOVE EXTRA SPACES FROM FRONT AND BACK OF A STRING

name = "  SAnTA  "          
name.strip(" ")           # Strips off the extra spaces from the front and back

'SAnTA'

In [34]:
name = "  SAnTA  "          # left_strip
name.lstrip(" ")           # Strips off the extra spaces from the left

'SAnTA  '

In [35]:
name = "  SAnTA  "          # right_strip
name.rstrip(" ")           # Strips off the extra spaces from the right

'  SAnTA'

In [2]:
#DOUBT CLEARING: Conversion of string--->int(being used as a bool)
a= int(input("enter 1/0: "))

if a == True:
    print("True")
else:
    print("False")

enter 1/0: 0
False

# CONTROL FLOW STATEMENTS
1. IF ELSE
2. IF ELIF ELSE
3. NESTED IF ELSE
4. SINGLE LINE IF ELSE (for competetive coding)

In [2]:
# Online food order
#Problem: if order>=500; disocunt=20% | if order>=1000; discount=30% 


Total_Amount = int(input("Enter the TOTAL AMOUNT of the BILL:  "))

if Total_Amount >=1000:
    print("You can avail a discount of 30%")
    sum = Total_Amount-(Total_Amount*(3/10))
    print(f"Your Final Order Amount after DISCOUNT is {sum}")
    print("Thanks for Ordering")
    
elif Total_Amount >=500:
    print("You can avail a discount of 20%")
    sum = Total_Amount-(Total_Amount*(1/5))
    print(f"Your Final Order Amount after DISCOUNT is {sum}")
    print("Thanks for Ordering")
else:
    print("Sorry! Your order amount is NOT ELIGIBLE for the Discount")
    print(f"Order amount = {Total_Amount}")

Enter the TOTAL AMOUNT of the BILL:  1000
You can avail a discount of 30%
Your Final Order Amount after DISCOUNT is 700.0
Thanks for Ordering

In [1]:
Total_Amount = int(input("Enter the TOTAL AMOUNT of the BILL:  "))

if Total_Amount >=1000:
    print("You can avail a discount of 30%")
    sum = Total_Amount-(Total_Amount*(3/10))
    print(f"Your Final Order Amount after DISCOUNT is {sum}")
    print("Thanks for Ordering")
    
elif Total_Amount >=500:
    print("You can avail a discount of 20%")
    sum = Total_Amount-(Total_Amount*(1/5))
    print(f"Your Final Order Amount after DISCOUNT is {sum}")
    print("Thanks for Ordering")
else:
    print("Sorry! Your order amount is NOT ELIGIBLE for the Discount")
    print(f"Order amount = {Total_Amount}")

Enter the TOTAL AMOUNT of the BILL:  299
Sorry! Your order amount is NOT ELIGIBLE for the Discount
Order amount = 299

### NESTED IF ELSE
Ex1. Print if the number is -ve or +ve

In [7]:
value = float(input("Enter a number: "))

if value >=0:
    if value == 0:
        print("User Input is zero(0)")
    else:
        print(f"{value} is a positive number")
else:
    print(f"{value} is a negative number")

Enter a number: 2.2
2.2 is a positive number

In [12]:
# SINGLE LINE IF ELSE
#Problem: Print YES if number >99

number = float(input("Enter a Number: "))

if number > 99 : print("YES!")
else: print("NO!")

Enter a Number: 1000
YES!

# LOOPS IN PYTHON
1. While LOOP
2. For LOOP
3. Loop Control
        - break
        - continue
        - pass
4. NESTED LOOP

### WHILE LOOP

1. Fetch the relevant data
2. Initialize the iteration variable
3. Condition for the 'while loop' to continue running
4. Functions performed while in the loop
5. Finally increment the iteration variable...  i = i +1

##### Problem1: Repetitive UPSC Attempts
Ex-Data:
1. Total_Marks = 200
2. cut_off = 98
3. scores = [64,89,96,72,82,102]

4. attempts = 0

In [2]:
#Code:

Total_Marks = 200
cut_off = 98
scores = [64,89,96,72,82,102]

attempts = 0                                            #..... {initializing the iteration variable}

while scores[attempts] < cut_off:                                #.....{condition for the loop to keep running}
    
    print(f"Your score is {scores[attempts]}, attempt number: {attempts+1}")             #.....{Score for that attempt}
    print("I will attempt next year!")
    
    attempts = attempts + 1                         #....increment the no_of_attempts by +1 for the repititve attempts
    print(f"Let's Go!!")                        #...condition to break the loop ---> scores >= cut_off

Your score is 64, attempt number: 1
I will attempt next year!
Let's Go!!
Your score is 89, attempt number: 2
I will attempt next year!
Let's Go!!
Your score is 96, attempt number: 3
I will attempt next year!
Let's Go!!
Your score is 72, attempt number: 4
I will attempt next year!
Let's Go!!
Your score is 82, attempt number: 5
I will attempt next year!
Let's Go!!

In [5]:
"""Child is learning to count 10 rupees note"""

no_of_notes = 5                    #.... total number of notes given to count

i=1                                #.... initializing the first note (...the incrementing variable!)

while i <= no_of_notes:            #.... condition for the loop to keep running
    
    print(f"No_of_Notes: {i}, Total_Sum counted: {i*10}")
    
    i = i + 1                        #..... finally, increment the loop and run....

No_of_Notes: 1, Total_Sum counted: 10
No_of_Notes: 2, Total_Sum counted: 20
No_of_Notes: 3, Total_Sum counted: 30
No_of_Notes: 4, Total_Sum counted: 40
No_of_Notes: 5, Total_Sum counted: 50

In [5]:
# Train journey [using WHILE - ELSE condition]

stations = ["park circus","ballygunje","dhakuria","jadavpur","baghajatin","Garia","Narendrapur"]

current_station = 0
destination_station = "Garia"

while stations[current_station] != destination_station:
    print(f"Station name : {stations[current_station]}")
    print(f"...Continue the journey...as my destination is {destination_station}")
    print(f"Agla Station: {stations[current_station + 1]}")
    
    current_station = current_station + 1
    print("-------------------------------")
    
else:
    print(f"Destination: {destination_station} Station arrived")

Station name : park circus
...Continue the journey...as my destination is Garia
Agla Station: ballygunje
-------------------------------
Station name : ballygunje
...Continue the journey...as my destination is Garia
Agla Station: dhakuria
-------------------------------
Station name : dhakuria
...Continue the journey...as my destination is Garia
Agla Station: jadavpur
-------------------------------
Station name : jadavpur
...Continue the journey...as my destination is Garia
Agla Station: baghajatin
-------------------------------
Station name : baghajatin
...Continue the journey...as my destination is Garia
Agla Station: Garia
-------------------------------
Destination: Garia Station arrived

In [7]:
"""Child is learning to count 10 rupees note"""    # using While-else

no_of_notes = 5                    #.... total number of notes given to count

i=1                                #.... initializing the first note (...the incrementing variable!)

while i <= no_of_notes:            #.... condition for the loop to keep running
   
    print(f"condition : {i <= no_of_notes}")
    print(f"No_of_Notes: {i}, Total_Sum counted: {i*10}")
    
    i = i + 1                      #.....  increment the loop
    print("-----------")
    
else:
    print(f"condition : {i <= no_of_notes}")
    print("Nomore 10 rupee Note left!")

condition : True
No_of_Notes: 1, Total_Sum counted: 10
-----------
condition : True
No_of_Notes: 2, Total_Sum counted: 20
-----------
condition : True
No_of_Notes: 3, Total_Sum counted: 30
-----------
condition : True
No_of_Notes: 4, Total_Sum counted: 40
-----------
condition : True
No_of_Notes: 5, Total_Sum counted: 50
-----------
condition : False
Nomore 10 rupee Note left!

### FOR LOOP
1. i   -----> iteration variable (can be anything) set in a range:
2. Range can be a literal range or a list, tuple etc.
#### for iteration_variable in range:

3. Functions to be performed in the 'for loop'

4. We donot need to increment (iterate) manually like in while loop
5. Iteration variable auto increments!
6. No need for i = i + 1 etc.

In [1]:
#BASIC                        

    
for i in range(0, 10):            # for loop iterates over a list
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
#TABLES:

#method1

for i in range(1, 11):
    print(f"5 x {i} = {5*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [15]:
#method 2:

for i in range(0,10):
    print(f"10 x {i+1} = {10*(i+1)}")

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [17]:
for i in range(1,15):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************

In [19]:
#Problem: Adding Products in a cart using for loop

cost_of_items = [100, 200, 129, 456]

total_sum = 0

for i in range(0, 4):
    total_sum = total_sum + cost_of_items[i]
    
print(f"Total amount to be paid: {total_sum}")

Total amount to be paid: 885

In [23]:
# Detailed breakdown of the same problem

cost_of_items = [100, 200, 129, 456]
N = len(cost_of_items)

total_sum = 0

for i in range(0, N):
    print(f"Total_sum = {total_sum}+{cost_of_items[i]}")
    total_sum = total_sum + cost_of_items[i]
    
    print(f"after adding: {total_sum}")
    print("-----------")
    
print(f"Total amount to be paid: {total_sum}")

Total_sum = 0+100
after adding: 100
-----------
Total_sum = 100+200
after adding: 300
-----------
Total_sum = 300+129
after adding: 429
-----------
Total_sum = 429+456
after adding: 885
-----------
Total amount to be paid: 885

In [3]:
#_Same problem: Changing the iteration variable i to 'cost'  # FEATURE_OF_PYTHON

cost_of_items = [100, 200, 129, 456]


total_sum = 0

for cost in cost_of_items :                     #_most_imp_line 0f code for understanding this concept
    print(f"Total_sum = {total_sum}+{cost}")
    total_sum = total_sum + cost
    
    print(f"after adding: {total_sum}")
    print("-----------")
    
print(f"Total amount to be paid: {total_sum}")

Total_sum = 0+100
after adding: 100
-----------
Total_sum = 100+200
after adding: 300
-----------
Total_sum = 300+129
after adding: 429
-----------
Total_sum = 429+456
after adding: 885
-----------
Total amount to be paid: 885

In [26]:
#_Simplified for undersatnding the functioning

cost_of_items = [100, 200, 129, 456]

total_sum = 0

for cost in cost_of_items :
    print(cost)

100
200
129
456

In [28]:
# Example

stations = ["park circus","ballygunje","dhakuria","jadavpur","baghajatin","Garia","Narendrapur"]

for current_station in stations :
    print(f"Current Station is {current_station}")

Current Station is park circus
Current Station is ballygunje
Current Station is dhakuria
Current Station is jadavpur
Current Station is baghajatin
Current Station is Garia
Current Station is Narendrapur

In [9]:
cost_of_items = [100,200,129,456,1000,199,299]                          #_STUDY_FURTHER

total_sum = 0
budget = 2000

for cost in cost_of_items :
    total_sum = total_sum + cost
    if total_sum > budget :
        print("You are over boarding")
        print("Let me bring you back to the ground")
        print(f"total_sum: {total_sum} - the last purchase {cost}" )
        print(f"Pay: {total_sum - cost}")
        break
    
    else:
        print(f"Total Amount to be paid: {total_sum}")

Total Amount to be paid: 100
Total Amount to be paid: 300
Total Amount to be paid: 429
Total Amount to be paid: 885
Total Amount to be paid: 1885
You are over boarding
Let me bring you back to the ground
total_sum: 2084 - the last purchase 199
Pay: 1885

In [11]:
cost_of_items = [100,200,129,456,1000,199,299]                         

total_sum = 0
budget = 2000

for cost in cost_of_items :
    total_sum = total_sum + cost
    print(f"current total: {total_sum}")
    if total_sum > budget :
        print(f"since current total is more than my budget, {budget}")
        print(f"...Removing the last item...{cost}")
        total_sum = total_sum - cost
        break
        
print(f"total amount to be paid: {total_sum}")

current total: 100
current total: 300
current total: 429
current total: 885
current total: 1885
current total: 2084
since current total is more than my budget, 2000
...Removing the last item...199
total amount to be paid: 1885

In [21]:
#_\STUDY/_        #_break

for i in range(1, 10):                                    
    print(i)

1
2
3
4
5
6
7
8
9

In [22]:
for i in range(1, 10):                                    #_\STUDY/_        #_break
    print(i)
    if i >= 5:
        break

1
2
3
4
5

In [23]:
#_\STUDY/_                           #_continue

for i in range(0,10):
    if i % 2 == 0:              # condition for even number
        continue      # if the number is even, continue and start the loop again (dont print the even)
                                                                                # dont go to next step
        
    print(i)                 # doesnot go for the next step incase of even BUT prints the odd!

1
3
5
7
9

In [24]:
for i in range(0,10):
    if i % 2 != 0:            # condition for odd number
        continue      # if the number is odd, continue and start the loop again (dont print the odd)
                                                                            # dont go to next step
    
    print(i)          # doesnot go for the next step incase of odd BUT prints the even!

0
2
4
6
8

In [29]:
#__ DIFFERENCE BETWEEN break AND continue

for i in range(0,10):                
    if i % 2 != 0:             # condition for odd number
        break      # if the number is odd, break the loop and stop then and there!   #_1 is odd no.
    print(i)

0

###### DIFFERENCE BETWEEN break AND continue:
    - break: completely stops the loop
    - continue: skips the current loop and starts the loop again for the next condition

In [31]:
for i in range(0,10):        #_keyword : pass
    pass

# pass is used when we want to write the fuctioning of the code later
# pass,simply bypasses that section of the code & doesnot throw up errors while running the full code

## In-Built Data Structures in Python
1. List
2. Tuple
3. Sets
4. Dictionaries

#### 1.    What is the difference between list in python and array of C or C++  ?
Ans:  Array contains elements of only one datatype, 
      whereas list can contain different as well as elements of same datatype

In [34]:
"""INDEXING & SLICING is the same for LIST as in string operations"""


my_list = [2,"santa", True, "02-02-1994","kolkata",106 ]


my_list[2]

True

In [43]:
my_list[::-1]                                   # Reversal of List ....{same as string}

[106, 'kolkata', '02-02-1994', True, 'santa', 2]

In [44]:
my_list[:3]

[2, 'santa', True]

In [45]:
my_list[:5:2]

[2, True, 'kolkata']

In [35]:
type(my_list)

list

In [36]:
# using for loop : The_Pythonian_Way!!

for element in my_list:
    print(element)

2
santa
True
02-02-1994
kolkata
106

In [42]:
# 2nd method:               {...like in other languages}     i = index value

for i in range(len(my_list)):
    print(f"i = {i}, element = {my_list[i]}, Datatype ={type(my_list[i])}")
    print("---------------------")

i = 0, element = 2, Datatype =<class 'int'>
---------------------
i = 1, element = santa, Datatype =<class 'str'>
---------------------
i = 2, element = True, Datatype =<class 'bool'>
---------------------
i = 3, element = 02-02-1994, Datatype =<class 'str'>
---------------------
i = 4, element = kolkata, Datatype =<class 'str'>
---------------------
i = 5, element = 106, Datatype =<class 'int'>
---------------------

In [49]:
#__DEEP_STUDY__


for i in range(0,len(my_list),2):        #_start index, end index, jump_step size {same in 'for loop'}
    print(f" Index {i} = {my_list[i]}")

 Index 0 = 2
 Index 2 = True
 Index 4 = kolkata

In [53]:
for i in range(0,20,4):
    print(f"i = {i}")

i = 0
i = 4
i = 8
i = 12
i = 16

In [54]:
#__DEEP_STUDY__Reversal of list

list = [1,2,3,"a","b","c"]

for i in range(-1,-len(list)-1,-1):        #....{draw a number scale and mark the index to undertand}
    print(i , list[i])

-1 c
-2 b
-3 a
-4 3
-5 2
-6 1

In [55]:
for i in [1,3,4,5]:
    print(i, list[i])

1 2
3 a
4 b
5 c

#### List Methods
1. Lists donot have fixed size. Elements can be added/removed/replaced from Lists (Mutable)
2. Lists donot have fixed datatype constraints. (similar to string...different from array)

In [4]:
mylist_1 = list()          # creating an empty list

In [20]:
# Taking user input to create data in an empty list

list_of_items = list()

N = int(input("Enter the number of items to be purchased: "))

for i in range(N):
    user_input = input("Enter Item Name: ")
    list_of_items.append(user_input)
    
print(list_of_items)

print(len(list_of_items))

Enter the number of items to be purchased: 3
Enter Item Name: bat
Enter Item Name: ball
Enter Item Name: wicket
['bat', 'ball', 'wicket']
3

In [8]:
# Verify membership of an element in a list

list1 = [1, 2, 3, 4, 5, 7]

#check_membership       ......... #_ in : Keyword

5 in list1

True

In [9]:
6 in list1

False

In [10]:
if 5 in list1:
    print("YES")
else:
    print("NO")

YES

In [11]:
if 6 in list1:
    print("YES")
else:
    print("NO")

NO

In [12]:
if 6 not in list1:                ........# not in : keyword
    print("YES, not present")
else:
    print("NO, its there")

YES, not present

In [13]:
#_MAX & MIN                               # confusing when letters come into play # follows_ASCII_code

list1 = [1, 2, 3, 4, 5, 7]
max(list1)                            #_ASCII code: American_Standard_Code_for_Information_Interchange

7

In [14]:
min(list1)

1

In [17]:
#Problem1: Print the name with highest number of character

strings_in_list = ["Bhaveen", "Abhishek", "Dew", "DJ", "Santa","Charlie"] 

max_len = 0
result = ""

for name in strings_in_list :
    print(name, len(name))
    
    if len(name) > max_len:
        max_len = len(name)
        result = name
        

print(f"Result: Max length : {max_len} Name: {result}")

Bhaveen 7
Abhishek 8
Dew 3
DJ 2
Santa 5
Charlie 7
Result: Max length : 8 Name: Abhishek

###### pop(): By default pops out the last index but specific indexes to pop can be mentioned inside ()

In [21]:
A = [6, 7, 8, "sunny"]
A.pop()

A

[6, 7, 8]

In [22]:
A = [6, 7, 8, "sunny"]
A.pop(1)

A

[6, 8, 'sunny']

In [24]:
#Problem2: Print odd/even numbers

#Solution_Step1                  ...............{for understanding}

A = [1, 34, 56, 76, 99]

for index in range(len(A)):
    print(index, A[index])

0 1
1 34
2 56
3 76
4 99

In [26]:
#Step2                          ...............{for understanding}

A = [1, 34, 56, 76, 99]

for index in range(len(A)):
    number = A[index]
    print(index, number)
    
    if number % 2 != 0 :
        print(f" odd number: {number}")
    else:
        print(f" even number: {number}")

0 1
 odd number: 1
1 34
 even number: 34
2 56
 even number: 56
3 76
 even number: 76
4 99
 odd number: 99

In [1]:
#S0RT

A = [111, 34, 256, 176, 99]

sorted(A)                                         #_Ascending Sort

[34, 99, 111, 176, 256]

In [30]:
A = [111, 34, 256, 176, 99]

A = sorted(A)                                      #_First Ascend

A[::-1]                              # then Reverse ---to---->  Descend

[256, 176, 111, 99, 34]

In [2]:
#__SHORTCUT TO DESCEND

A = [111, 34, 256, 176, 99]

A.sort(reverse=True)

A

[256, 176, 111, 99, 34]

In [5]:
A.reverse()

A

[34, 99, 111, 176, 256]

In [1]:
a = [[1,2,3],[11,22,33],[45,56,77]]                  # NESTED LIST
a

[[1, 2, 3], [11, 22, 33], [45, 56, 77]]

In [2]:
a[0]

[1, 2, 3]

In [3]:
a[1][0]

11

In [4]:
a[2][2]

77

In [6]:
a = [[1,2,3],[11,22,33,[500,502]],[45,[239,"hii"],56,77]]

In [7]:
a[2][1][1]

'hii'

In [9]:
a[-1][-3][-1]               #....... using negative indexing

'hii'

In [12]:
#Problem

amazon_cart = [["watch", 5000],["phone", 1000],["laptop",50000]]

total_cost = amazon_cart[0][1]+amazon_cart[1][1]+amazon_cart[2][1]

print(total_cost)

56000

In [11]:
# Using for lopp

total_cost = 0

for i in range(len(amazon_cart)):
    print(amazon_cart[i][1])
    
    total_cost = total_cost + amazon_cart[i][1]
    
print(total_cost)

5000
1000
50000
56000

In [4]:
#Pythonian

amazon_cart = [["watch", 5000],["phone", 1000],["laptop",50000]]

total_cost = 0
print(f"Empty cart: {total_cost}")

for item in amazon_cart:
   
    total_cost = total_cost + item[1]
    print(f"Cart added with {item[0]}: {item[1]}")
    print(f"Cart Value: {total_cost}")
    
print(f"Total Payable Amount: {total_cost}")

Empty cart: 0
Cart added with watch: 5000
Cart Value: 5000
Cart added with phone: 1000
Cart Value: 6000
Cart added with laptop: 50000
Cart Value: 56000
Total Payable Amount: 56000

##### List Comprehension

In [15]:
#_Problem: List of square of numbers from 1 to 10

a = [1,2,3,4,5,6,7,8,9,10]

ans = list()                  #........creating an empty list to store values

for element in a:
    print(element, element**2)
    
    ans.append(element**2)
    
print("---------")    
print(ans)

1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
---------
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
#_SameProblem: using list comprehension

a = [1,2,3,4,5,6,7,8,9,10]

ans = [element**2 for element in a]
print(ans)                                                              #KHELA

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
#Problem: take the squares of ONLY ODD NUMBERS

a = [1,2,3,4,5,6,7,8,9,10]

answer = list()

for index in a:
    if index%2 != 0:
        print(index, index**2)
        answer.append(index**2)

print("---------")
answer

1 1
3 9
5 25
7 49
9 81
---------

[1, 9, 25, 49, 81]

In [25]:
#List comprehension

a = [1,2,3,4,5,6,7,8,9,10]

answer = [index**2 for index in a if index%2 != 0]

answer

[1, 9, 25, 49, 81]

In [28]:
# iterating with a for loop in a string and counting the number of occurances

a = "sunny"

for i in a:
    print(i, a.count(i))

s 1
u 1
n 2
n 2
y 1

In [3]:
a1 =[1,1,2,2,2,3,4,4,4,4,4,4,4,5,5,6,7]
for i in a1:
    print(i, a1.count(i))

1 2
1 2
2 3
2 3
2 3
3 1
4 7
4 7
4 7
4 7
4 7
4 7
4 7
5 2
5 2
6 1
7 1

In [4]:
a1=["sunny","sunny","bhaveen"]

for i in a1:
    print(i,a1.count(i))

sunny 2
sunny 2
bhaveen 1

In [5]:
A = [1,2,3]
B = [3,4,5]

A.extend(B)        # inplace assignment

A                 # A changed permanently and put inside a single list

[1, 2, 3, 3, 4, 5]

In [6]:
A = [1,2,3]
B = [3,4,5]

A.append(B)       # Behaves differently; returns B in a separate list

A

[1, 2, 3, [3, 4, 5]]

In [7]:
A = [1,2,3]
B = [3,4,5]           # A+B acts like the extend function --> concatenates into a single list
A+B

[1, 2, 3, 3, 4, 5]

In [8]:
# INDEX_METHOD

a=[1,2,4,5,56,"sunny"]
a.index("sunny")

5

In [23]:
#Problem: Print the index of the complex numbers

a=[1,2,4,5,56+2j,"sunny",4+2j]

for i in a:
    if type(i)==complex:
        print(f"element ={i},|| datatype={type(i)},|| index={a.index(i)}")

element =(56+2j),|| datatype=<class 'complex'>,|| index=4
element =(4+2j),|| datatype=<class 'complex'>,|| index=6

In [24]:
#same problem--diff approach--using isinstance method

a=[1,2,4,5,56+2j,"sunny",4+2j]

for i in a:
    if isinstance(i,complex):
        print(f"element ={i},|| datatype={type(i)},|| index={a.index(i)}")

element =(56+2j),|| datatype=<class 'complex'>,|| index=4
element =(4+2j),|| datatype=<class 'complex'>,|| index=6

In [35]:
a = [1,2,3,4,5,6]
a.append(99)             #append method always adds at the last
a

[1, 2, 3, 4, 5, 6, 99]

In [36]:
a.insert(2,"santa")         # insert fuctions inserts the element at the desired index position
                            # .insert(index,element)
a

[1, 2, 'santa', 3, 4, 5, 6, 99]

In [37]:
a.insert(2,[1,2,3])
a

[1, 2, [1, 2, 3], 'santa', 3, 4, 5, 6, 99]

In [38]:
len(a)

9

In [39]:
a.index('santa')

3

In [40]:
a.remove(1)             # removes the first occurence of the mentioned element
                        # remove works on the value; pop works on the index!
a

[2, [1, 2, 3], 'santa', 3, 4, 5, 6, 99]

### Tuples--> used for data integrity

In [41]:
a=(1,2,3)
type(a)

tuple

In [42]:
a[1]

2

In [43]:
a=(22,12,25,34)
sorted(a)            # returns a list

[12, 22, 25, 34]

In [44]:
a.index(12)

1

### SET
1. Unordered collection of unique elements
2. curly braces
3. indexing not allowed as set is unordered

In [46]:
x={1,2,3,3,4}

x

{1, 2, 3, 4}

In [49]:
x=set()        #.... HOW TO CREATE AN EMPTY SET [RECOMMENDED APPROACH]
type(x)

set

In [48]:
x={}            #.......otherwise....
type(x)

dict

In [50]:
x.add(99)
x

{99}

In [51]:
# Return a list with unique elements

a={1,2,3,3,4,5}
a=list(set(a))
a

[1, 2, 3, 4, 5]

In [56]:
x={1,2,3,4}
x.remove(2)
x

{1, 3, 4}

In [58]:
#SET OPERATIONS, DICTIONARIES REMAINING.....

# ... ENTER "SUDHANSHU"... new beginning...